# Load Data

In [2]:
# import modules
import pandas as pd
import numpy as np
import sqlalchemy as sqla
import pickle
from sqlalchemy import create_engine

from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn import metrics

import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")

import pymysql
from sshtunnel import SSHTunnelForwarder
from datetime import datetime, timedelta

import spacy

# Load pre-trained word embeddings (e.g., spaCy's medium English model)
nlp = spacy.load("en_core_web_sm")


from shapely.geometry import MultiPolygon, Polygon
from shapely.ops import nearest_points
import geopandas as gpd
from shapely import wkt

In [3]:
ssh_host = '137.43.49.79'
ssh_port = 22
ssh_username = 'student'
ssh_password = 'Ucd-cs-2023!'

mysql_user = 'root'
mysql_password = 'Group@18'
mysql_db = 'smartcityexplorer'

with SSHTunnelForwarder(
    (ssh_host, ssh_port),
    ssh_username=ssh_username,
    ssh_password=ssh_password,
    remote_bind_address=('127.0.0.1', 3306)
) as tunnel:
    conn = pymysql.connect(
        host='127.0.0.1',
        user=mysql_user,
        password=mysql_password,
        db=mysql_db,
        port=tunnel.local_bind_port
    )
    
    cursor = conn.cursor()
    cursor.execute("SELECT * FROM venue_static")
    results = cursor.fetchall()

    # Convert the results to a pandas DataFrame
    import pandas as pd
    df_venue_static = pd.DataFrame(results, columns=[column[0] for column in cursor.description])
    df_rest_static = pd.DataFrame(results, columns=[column[0] for column in cursor.description])
    
    cursor = conn.cursor()
    cursor.execute("SELECT * FROM venue_timings")
    results = cursor.fetchall()
    df_venue_timings = pd.DataFrame(results, columns=[column[0] for column in cursor.description])

    cursor = conn.cursor()
    cursor.execute("SELECT * FROM venue_merged")
    results = cursor.fetchall()
    df_venue_merged = pd.DataFrame(results, columns=[column[0] for column in cursor.description])    
    
    # Close the database connection
    conn.close()

In [4]:
df_manhattan_zone = pd.read_csv('../data_manipulation/taxi_zones.csv')
df_manhattan_zone.head(50)

,Unnamed: 0,OBJECTID,Shape_Leng,the_geom,Shape_Area,zone,LocationID,borough,Unnamed: 7,Unnamed: 8,...,Unnamed: 6947,Unnamed: 6948,Unnamed: 6949,Unnamed: 6950,Unnamed: 6951,Unnamed: 6952,Unnamed: 6953,Unnamed: 6954,Unnamed: 6955,Unnamed: 6956
0,4,4,0.043567,MULTIPOLYGON (((-73.97177410965318 40.72582128...,0.000112,Alphabet City,4,Manhattan,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10,24,0.047000,MULTIPOLYGON (((-73.95953658899997 40.79871852...,0.000061,Bloomingdale,24,Manhattan,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,13,12,0.036661,MULTIPOLYGON (((-74.01565756599994 40.70483308...,0.000042,Battery Park,12,Manhattan,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,14,13,0.050281,MULTIPOLYGON (((-74.01244109299991 40.71905767...,0.000149,Battery Park City,13,Manhattan,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,43,41,0.052793,MULTIPOLYGON (((-73.94773985499985 40.80959972...,0.000143,Central Harlem,41,Manhattan,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,44,45,0.045907,MULTIPOLYGON (((-73.99750445299988 40.71406913...,0.000091,Chinatown,45,Manhattan,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,47,42,0.092709,MULTIPOLYGON (((-73.93436121591056 40.83620061...,0.000264,Central Harlem North,42,Manhattan,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,48,43,0.099739,MULTIPOLYGON (((-73.97255352299985 40.76489773...,0.000380,Central Park,43,Manhattan,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,52,48,0.043747,MULTIPOLYGON (((-73.99117738199989 40.75532984...,0.000094,Clinton East,48,Manhattan,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,54,50,0.055748,MULTIPOLYGON (((-73.99667705784736 40.77351005...,0.000173,Clinton West,50,Manhattan,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,76,68,0.049337,MULTIPOLYGON (((-74.00201937799989 40.74044408...,0.000111,East Chelsea,68,Manhattan,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,81,79,0.042625,MULTIPOLYGON (((-73.98377990999991 40.72153595...,0.000108,East Village,79,Manhattan,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,83,74,0.110291,MULTIPOLYGON (((-73.93380589881859 40.81651249...,0.000295,East Harlem North,74,Manhattan,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,87,75,0.087664,MULTIPOLYGON (((-73.94103496899987 40.79254666...,0.000241,East Harlem South,75,Manhattan,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,92,87,0.036902,MULTIPOLYGON (((-74.00372234899996 40.70693234...,0.000067,Financial District North,87,Manhattan,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,96,88,0.035205,MULTIPOLYGON (((-74.00974639299996 40.70477524...,0.000057,Financial District South,88,Manhattan,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,98,90,0.030759,MULTIPOLYGON (((-73.9963368949999 40.738043746...,0.000055,Flatiron,90,Manhattan,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,99,125,0.049732,MULTIPOLYGON (((-74.00269315099992 40.72831405...,0.000076,Hudson Sq,125,Manhattan,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,110,100,0.024813,MULTIPOLYGON (((-73.98729377099981 40.75045160...,0.000037,Garment District,100,Manhattan,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,113,103,0.014306,MULTIPOLYGON (((-74.04388559600675 40.69018482...,0.000006,Governor's Island/Ellis Island/Liberty Island,103,Manhattan,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,114,104,0.021221,MULTIPOLYGON (((-74.03995040794244 40.70089063...,0.000012,Governor's Island/Ellis Island/Liberty Island,103,Manhattan,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,115,105,0.077425,MULTIPOLYGON (((-74.01674756096064 40.69334336...,0.000369,Governor's Island/Ellis Island/Liberty Island,103,Manhattan,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,117,107,0.038041,MULTIPOLYGON (((-73.98238628799993 40.73141124...,0.000075,Gramercy,107,Manhattan,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,124,113,0.032745,MULTIPOLYGON (((-73.99136388099987 40.72755978...,0.000058,Greenwich Village North,113,Manhattan,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,125,114,0.031727,MULTIPOLYGON (((-73.99257987399992 40.72420155...,0.000047,Greenwich Village South,114,Manhattan,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,127,116,0.068116,MULTIPOLYGON (((-73.93924885699987 40.82829635...,0.000260,Hamilton Heights,116,Manhattan,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,132,120,0.083261,MULTIPOLYGON (((-73.92295449499989 40.85885076...,0.000093,Highbridge Park,120,Manhattan,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,143,128,0.070209,MULTIPOLYGON (((-73.92359742020388 40.87889871...,0.000207,Inwood Hill Park,128,Manhattan,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,146,151,0.054890,MULTIPOLYGON (((-73.96371096499993 40.79301293...,0.000129,Manhattan Valley,151,Manhattan,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,153,140,0.047584,MULTIPOLYGON (((-73.95854329689507 40.75849562...,0.000114,Lenox Hill East,140,Manhattan,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,156,137,0.046108,MULTIPOLYGON (((-73.97219641647804 40.74040257...,0.000116,Kips Bay,137,Manhattan,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,157,141,0.041514,MULTIPOLYGON (((-73.96177668399997 40.75987971...,0.000077,Lenox Hill West,141,Manhattan,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,158,142,0.038176,MULTIPOLYGON (((-73.98147898799989 40.76772505...,0.000076,Lincoln Square East,142,Manhattan,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,159,152,0.057909,MULTIPOLYGON (((-73.95357262899981 40.82197589...,0.000147,Manhattanville,152,Manhattan,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,161,143,0.054180,MULTIPOLYGON (((-73.98162787399998 40.78032893...,0.000151,Lincoln Square West,143,Manhattan,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,162,144,0.027620,MULTIPOLYGON (((-73.99580912300002 40.71664465...,0.000047,Little Italy/NoLiTa,144,Manhattan,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,166,148,0.039131,MULTIPOLYGON (((-73.98447731699999 40.72023423...,0.000070,Lower East Side,148,Manhattan,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,167,153,0.024737,MULTIPOLYGON (((-73.90666530999995 40.87571560...,0.000032,Marble Hill,153,Manhattan,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,176,158,0.054810,MULTIPOLYGON (((-74.00779116099989 40.74197084...,0.000186,Meatpacking/West Village West,158,Manhattan,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,178,161,0.035804,MULTIPOLYGON (((-73.97534377999993 40.75529969...,0.000072,Midtown Center,161,Manhattan,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,179,162,0.035270,MULTIPOLYGON (((-73.9712170449999 40.755193323...,0.000048,Midtown East,162,Manhattan,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,180,163,0.034177,MULTIPOLYGON (((-73.98136213699995 40.76783673...,0.000041,Midtown North,163,Manhattan,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,181,164,0.035772,MULTIPOLYGON (((-73.98362519999995 40.74394311...,0.000056,Midtown South,164,Manhattan,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,182,170,0.045769,MULTIPOLYGON (((-73.97203331099983 40.74580496...,0.000074,Murray Hill,170,Manhattan,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,184,166,0.068824,MULTIPOLYGON (((-73.95707738499995 40.81429809...,0.000255,Morningside Heights,166,Manhattan,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,204,186,0.024696,MULTIPOLYGON (((-73.99096832799995 40.74542088...,0.000037,Penn Station/Madison Sq West,186,Manhattan,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,212,194,0.081794,MULTIPOLYGON (((-73.91639852914044 40.79768484...,0.000273,Randalls Island,194,Manhattan,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,225,202,0.069922,MULTIPOLYGON (((-73.94180032729437 40.76904692...,0.000106,Roosevelt Island,202,Manhattan,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,231,209,0.030695,MULTIPOLYGON (((-74.00499805099996 40.71201189...,0.000039,Seaport,209,Manhattan,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,234,211,0.025235,MULTIPOLYGON (((-74.001523638 40.7198207979999...,0.000040,SoHo,211,Manhattan,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Manipulate Data

## Split into Hour and Day of the week

In [5]:
df_venue_merged['merged_time'] = pd.to_datetime(df_venue_merged['merged_time'])

# Add 'day_of_week' column (Monday as 0)
df_venue_merged['day_of_week'] = df_venue_merged['merged_time'].dt.dayofweek

# Add 'hour_integer' column
df_venue_merged['hour_integer'] = df_venue_merged['merged_time'].dt.hour

In [6]:
print(df_venue_merged.head(10))

   venue_id                   venue_name  busyness          venue_type  \
0  47508476  Han Dynasty Upper West Side         0  CHINESE_RESTAURANT
1  47508476  Han Dynasty Upper West Side         0  CHINESE_RESTAURANT
2  47508476  Han Dynasty Upper West Side         0  CHINESE_RESTAURANT
3  47508476  Han Dynasty Upper West Side         0  CHINESE_RESTAURANT
4  47508476  Han Dynasty Upper West Side         0  CHINESE_RESTAURANT
5  47508476  Han Dynasty Upper West Side        20  CHINESE_RESTAURANT
6  47508476  Han Dynasty Upper West Side        25  CHINESE_RESTAURANT
7  47508476  Han Dynasty Upper West Side        30  CHINESE_RESTAURANT
8  47508476  Han Dynasty Upper West Side        30  CHINESE_RESTAURANT
9  47508476  Han Dynasty Upper West Side        30  CHINESE_RESTAURANT

                                    venue_address         merged_time  \
0  215 W 85th St New York, NY 10024 United States 2023-06-19 06:00:00
1  215 W 85th St New York, NY 10024 United States 2023-06-19 07:00:00
2  215 W 85th St New York, NY 10024 United States 2023-06-19 08:00:00
3  215 W 85th St New York, NY 10024 United States 2023-06-19 09:00:00
4  215 W 85th St New York, NY 10024 United States 2023-06-19 10:00:00
5  215 W 85th St New York, NY 10024 United States 2023-06-19 11:00:00
6  215 W 85th St New York, NY 10024 United States 2023-06-19 12:00:00
7  215 W 85th St New York, NY 10024 United States 2023-06-19 13:00:00
8  215 W 85th St New York, NY 10024 United States 2023-06-19 14:00:00
9  215 W 85th St New York, NY 10024 United States 2023-06-19 15:00:00

   temperature_2m  apparent_temperature  precipitation  weathercode  \
0            19.1                  19.1            0.0            0
1            18.8                  18.7            0.0            0
2            18.5                  18.5            0.0            0
3            17.9                  18.1            0.0            0
4            18.0                  18.0            0.0            2
5            18.6                  18.2            0.0            0
6            19.7                  19.6            0.0            1
7            21.3                  21.7            0.0            0
8            22.1                  23.3            0.0            1
9            22.9                  24.8            0.0            3

   visibility  windspeed_10m  day_of_week  hour_integer
0     24900.0            6.1            0             6
1     24600.0            6.6            0             7
2     23200.0            6.1            0             8
3     20200.0            6.6            0             9
4     22400.0            6.2            0            10
5     22000.0            9.8            0            11
6     22700.0            9.8            0            12
7     24100.0            8.7            0            13
8     23900.0           11.0            0            14
9     24000.0           11.5            0            15

## Grouping Venue Types

In [7]:
venue_mapping = {
    'PARK': 'Park',
    'TOURIST_DESTINATION': 'Tourist Destination',
    'MUSEUM': 'Cultural Heritage',
    'HISTORICAL':'Cultural Heritage',
    'SCENIC_POINT': 'Scenic Landmarks',
    'BRIDGE': 'Scenic Landmarks',
    'NATURE_RESERVE': 'Nature Attractions',
    'ZOO': 'Nature Attractions',
    'BOTANICAL_GARDEN': 'Nature Attractions',
    'ARTS': 'Art',
    'DESSERT':'Art',
    'CHURCH': 'Religious',
    'SYNAGOGUE':'Religious',
    'VISITOR_CENTER': 'Tourist Destination',
    'LIBRARY':'Library',
    'SHOPPING_CENTER': 'Shopping Center',
    'APPAREL':'Fashion Convenience',
    'OTHER': 'Tourist Destination',
    'SHOPPING': 'Fashion Convenience',
    'CONVENIENCE_STORE':'Neighborhood Market',
    'SUPERMARKET': 'Neighborhood Market',
    'GROCERY':'Neighborhood Market',
    'MARKET':'Neighborhood Market',
    'GIFTS': 'Gifts & Souvenirs',
    'SOUVENIR_SHOP':'Gifts & Souvenirs',
    'CHINESE_RESTAURANT': 'Chinese Restaurant',
    'AMERICAN_RESTAURANT': 'American Restaurant',
    'RESTAURANT': 'Restaurant',
    'FRENCH_RESTAURANT': 'French Restaurant',
    'BREAKFAST_RESTAURANT': 'Breakfast Restaurant',
    'ITALIAN_RESTAURANT': 'Italian Restaurant',
    'MEDITERANEAN_RESTAURANT': 'Mediteranean Restaurant',
    'SEAFOOD_RESTAURANT': 'Seafood Restaurant',
    'JAPANESE_RESTAURANT': 'Japanese Restaurant',
    'THAI_RESTAURANT': 'Thai Restaurant',
    'VEGETERIAN_RESTAURANT': 'Vegeterian Restaurant',
    'MEXICAN_RESTAURANT': 'Mexican Restaurant',
    'PIZZA_RESTAURANT': 'Pizza Restaurant',
    'ASIAN_RESTAURANT': 'Asian Restaurant',
    'INDIAN_RESTAURANT': 'Indian Restaurant',
    'BURGER_RESTAURANT': 'Burger Restaurant',
    'SUSHI_RESTAURANT': 'Sushi Restaurant',
    'RAMEN_RESTAURANT': 'Ramen Restaurant',
}

df_venue_static['venue_mod_type'] = df_venue_static['venue_type'].replace(venue_mapping)

In [8]:
venue_to_zone_dict = {}

# Iterate through each row in the DataFrame
for index, row in df_venue_static.iterrows():
    venue_type = row['venue_mod_type']
    zone = row['zone_id']
    
    # If the venue_type is already in the dictionary, append the zone to its list
    if venue_type in venue_to_zone_dict:
        venue_to_zone_dict[venue_type].append(zone)
    # If the venue_type is not in the dictionary, create a new entry with the zone as a list
    else:
        venue_to_zone_dict[venue_type] = [zone]

print(venue_to_zone_dict)

{'Chinese Restaurant': [239, 239, 239, 239, 162, 239, 142], 'American Restaurant': [142, 263, 239, 79, 161, 100, 100, 239, 238, 243, 164, 249, 107, 236, 236, 142, 142, 148, 162, 48, 48, 234, 239, 238], 'Tourist Destination': [43, 170, 186, 161, 43, 166, 144, 239, 43, 230, 164, 43, 230, 43, 246, 162, 230, 50, 43, 43, 43, 161, 236, 170, 246], 'Restaurant': [230, 142, 162, 239, 239, 142, 48, 50, 239, 164, 239, 239, 48, 142, 239, 231, 230, 239, 239, 231, 48, 239, 239, 79, 239, 142, 239, 238, 263, 239, 68, 48, 142, 236, 142, 48, 238, 48, 239, 239, 141], 'French Restaurant': [161, 161, 239, 158, 230, 79, 237, 239, 161, 230], 'Breakfast Restaurant': [239, 239], 'Italian Restaurant': [238, 163, 237, 230, 238, 239, 142, 163, 239, 142, 142, 163, 142, 142, 249, 142, 238, 239, 239, 48, 142, 141, 249, 239, 142, 230, 114], 'Cultural Heritage': [43, 24, 163, 163, 236, 239, 103, 162, 239, 43, 239, 50, 170, 161, 236, 151, 43, 239, 158, 236, 43, 230, 100, 43, 238, 75, 142, 161, 75, 236, 43], 'Fashion Convenience': [263, 236, 230, 236, 236, 237, 144, 141, 163, 114, 142, 164, 237, 236, 90, 163, 236, 237, 142, 48, 236, 142, 163, 161, 237, 164, 232, 239, 237, 163, 237, 237, 142, 90, 144, 263, 237, 163, 142, 144], 'Mediteranean Restaurant': [239, 239, 239, 238, 238, 239, 142, 142], 'BAR': [239], 'Park': [202, 43, -1, 143, 142, 43, 43, 43, 164, 238, 238, 238, 239, 246, 43, 43, 43, 166, 141, 43, 234, 68, 141, 161, 43, 43, 238], 'Neighborhood Market': [24, 68, 48, 41, 234, 68, 166, 246, 107, 68, 90, 100, 233, 90, 79, 170, 48, 162, 68, 238, 50, 90, 229, 144, 74, 141, 236, 113, 234, 48, 74, 75, 50, 74], 'Shopping Center': [74, 246, 234, 163, 162, 113, 142, 74, 143], 'Thai Restaurant': [239, 239, 239, 236, 142], 'Scenic Landmarks': [43, 43, -1, 43, 43, 43, 74, 43, -1], 'Seafood Restaurant': [230, 239, 239, 125], 'Japanese Restaurant': [142, 238, 238, 239, 142], 'Nature Attractions': [43, 43, 43, 43], 'Gifts & Souvenirs': [161, 48, 230, 246, 234, 41, 163, 230, 249, 100, 261, 170, 230], 'BEER': [239, 238], 'Vegeterian Restaurant': [239], 'Mexican Restaurant': [236, 239, 239, 239, 74], 'Pizza Restaurant': [236, 239], 'FISHING': [143], 'Art': [236, 230, 163], 'Asian Restaurant': [238], 'Indian Restaurant': [238], 'Burger Restaurant': [239, 239], 'Religious': [166, 236, 166, 238, 161, 162, 237, 170], 'Sushi Restaurant': [142, 239], 'Library': [236], 'Ramen Restaurant': [142]}

In [43]:
# df_venue_static.head(50)

# Clearing Duplicates

In [10]:
# look for duplicates
print('Number of duplicate (excluding first) rows in the table is: ', df_venue_static.duplicated().sum())

# use "keep=False" to mark all duplicates as true, including the original rows that were duplicated
print('Number of duplicate rows (including first) in the table is:', df_venue_static[df_venue_static.duplicated(keep=False)].shape[0])

Number of duplicate (excluding first) rows in the table is:  0
Number of duplicate rows (including first) in the table is: 0

In [11]:
# look for duplicates
print('Number of duplicate (excluding first) rows in the table is: ', df_venue_timings.duplicated().sum())

# use "keep=False" to mark all duplicates as true, including the original rows that were duplicated
print('Number of duplicate rows (including first) in the table is:', df_venue_timings[df_venue_timings.duplicated(subset=['venue_id', 'day', 'opening_time', 'closing_time'], keep='first')].shape[0])

Number of duplicate (excluding first) rows in the table is:  0
Number of duplicate rows (including first) in the table is: 777

In [12]:
print('Number of duplicate (excluding first) rows in the table is: ', df_venue_timings.drop_duplicates(subset=['venue_id', 'day', 'opening_time', 'closing_time'], inplace=True))
df_venue_timings

Number of duplicate (excluding first) rows in the table is:  None

,id,venue_id,day,opening_time,closing_time
0,1,ven_30356e77514c7172685648526b6f77595249473851...,0,11,22
1,2,ven_30356e77514c7172685648526b6f77595249473851...,1,11,22
2,3,ven_30356e77514c7172685648526b6f77595249473851...,2,11,22
3,4,ven_30356e77514c7172685648526b6f77595249473851...,3,11,22
4,5,ven_30356e77514c7172685648526b6f77595249473851...,4,11,22
...,...,...,...,...,...
3250,3629,ven_77446a687a695a67306746526b6f77595a6c644878...,2,8,0
3251,3630,ven_77446a687a695a67306746526b6f77595a6c644878...,3,8,0
3252,3631,ven_77446a687a695a67306746526b6f77595a6c644878...,4,8,0
3253,3632,ven_77446a687a695a67306746526b6f77595a6c644878...,5,8,1
3254,3633,ven_77446a687a695a67306746526b6f77595a6c644878...,6,8,1

# Grouping Zones

In [13]:
venue_zone_grouping = {
    'Upper Manhattan': [128, 127, 243, 120, 244, 116, 42, 152, 41, 74, 75],
    'Upper West Side': [166, 24, 151, 43, 238, 239, 143, 142],
    'Upper East Side': [236,263, 262, 237, 141, 140 ],
    'Chelsea/Greenwhich market':[246, 68, 186, 90, 100, 234, 158, 249, 113, 249],
    'Lower Manhattan': [107, 224, 114, 211, 144, 148, 232, 231, 45, 13, 261, 209, 87, 88, 12 ],
    'Midtown Manhattan': [50, 48, 230, 163, 161, 162, 229, 233, 164, 170, 137, 224, 107, 234]
}

In [14]:
# venue_zone_grouping dictionary
venue_zone_grouping = {
    'Upper Manhattan': [128, 127, 243, 120, 244, 116, 42, 152, 41, 74, 75],
    'Upper West Side': [166, 24, 151, 43, 238, 239, 143, 142],
    'Upper East Side': [236, 263, 262, 237, 141, 140],
    'Chelsea/Greenwhich market': [246, 68, 186, 90, 100, 234, 158, 249, 113, 249],
    'Lower Manhattan': [107, 224, 114, 211, 144, 148, 232, 231, 45, 13, 261, 209, 87, 88, 12],
    'Midtown Manhattan': [50, 48, 230, 163, 161, 162, 229, 233, 164, 170, 137, 224, 107, 234],
}

# Function to map zone numbers to zone groups
def map_zone_group(zone_number):
    for zone_group, zone_numbers in venue_zone_grouping.items():
        if zone_number in zone_numbers:
            return zone_group
    return 'Other'  # If zone number not found in the dictionary, assign 'Other'

# Create the 'zone_group' column based on the mapping
df_venue_static['zone_group'] = df_venue_static['zone_id'].apply(map_zone_group)

print(df_venue_static)

                                       original_ven_id  hash_ven_id  latitude  \
0    ven_30356e77514c7172685648526b6f77595249473851...     47508476   40.7875
1    ven_30365f61684a68514c7730526b6f775a6c6b7a7072...     88409575   40.7770
2    ven_303749644b67576e694b55526b6f7759685f4a4457...      1030056   40.7758
3    ven_3038654c546f3936784873526b6f775a3148646771...     23854076   40.7580
4    ven_3039793356676f745a3570526b6f775974496c6d73...     20848781   40.7776
..                                                 ...          ...       ...
351  ven_7768585a615270346e454b526b6f7766426c2d4f31...     40246733   40.7797
352  ven_77686b76675f51577a7053526b6f775a356b526546...     76894533   40.7694
353  ven_776c426b3172735a6f5455526b6f77595a5f4c7350...     96046596   40.7682
354  ven_7774565736353150745f5f526b6f775a3949484637...     12087255   40.7244
355  ven_7778775545424e486d7075526b6f7759465048596d...     31643001   40.7666

     longitude  zone_id                                               name  \
0     -73.9764      239                        Han Dynasty Upper West Side
1     -73.9785      142                                         Friedman’s
2     -73.9752       43                                  Strawberry Fields
3     -73.9853      230                                        Time Square
4     -73.9784      142  TAP NYC | 100% Gluten-Free Sandwiches & Açaí B...
..         ...      ...                                                ...
351   -73.9266       -1                           Robert F. Kennedy Bridge
352   -73.9551      141                                The Migrant Kitchen
353   -73.9827      142                                  J.Crew Men's Shop
354   -73.9974      144                                         Forever 21
355   -73.9750       43                           Hallett Nature Sanctuary

                                               address           venue_type  \
0       215 W 85th St New York, NY 10024 United States   CHINESE_RESTAURANT
1        50 W 72nd St New York, NY 10023 United States  AMERICAN_RESTAURANT
2             Q2GG+83 New York, NY 10019 United States  TOURIST_DESTINATION
3       199 W 45th St New York, NY 10036 United States           RESTAURANT
4    267 Columbus Ave New York, NY 10023 United States           RESTAURANT
..                                                 ...                  ...
351                             NY 10035 United States               BRIDGE
352     1433 1st Ave. New York, NY 10021 United States           RESTAURANT
353  10 Columbus Cir Space 207 New York, NY 10019 U...              APPAREL
354      568 Broadway New York, NY 10012 United States              APPAREL
355  6th Avenue & Central Park S New York, NY 10019...       NATURE_RESERVE

     rating  price             type_mod         zone_group  \
0       4.4    2.0   Chinese Restaurant    Upper West Side
1       4.4    2.0  American Restaurant    Upper West Side
2       4.6   -1.0  Tourist Destination    Upper West Side
3       4.7   -1.0           Restaurant  Midtown Manhattan
4       4.6    2.0           Restaurant    Upper West Side
..      ...    ...                  ...                ...
351     4.2   -1.0     Scenic Landmarks              Other
352     4.5   -1.0           Restaurant    Upper East Side
353     4.2    2.0  Fashion Convenience    Upper West Side
354     3.8    1.0  Fashion Convenience    Lower Manhattan
355     4.7   -1.0   Nature Attractions    Upper West Side

                                                 image  \
0    https://images.getbento.com/accounts/845ffc258...
1    https://lh3.googleusercontent.com/p/AF1QipM8N3...
2    https://s3.amazonaws.com/assets.centralparknyc...
3    https://upload.wikimedia.org/wikipedia/commons...
4    https://lh3.googleusercontent.com/p/AF1QipNByb...
..                                                 ...
351  https://media-cdn.tripadvisor.com/media/photo-...
352  https://media-cdn.tripadvisor.com/media/photo-...
353  https://media-cdn.tripadvisor.com/media/photo-...
354  https://media-cdn.tripadvisor.com/media/photo-...
355  https://media-cdn.tripadvisor.com/media/photo-...

                                           description location_id  \
0    Trendy area with cafes, restaurants and fashio...      143368
1    Friedman’s is a local restaurant and bar locat...           0
2    Strawberry Fields is a music venue located in ...           0
3    Time Square is a world-famous entertainment di...           0
4    TAP NYC is a 100% gluten-free sandwich and aça...           0
..                                                 ...         ...
351  The Robert F. Kennedy Bridge, formerly known a...    14177380
352  The Migrant Kitchen is a food truck and cateri...           0
353  The J.Crew Men's Shop is a men's clothing stor...           0
354  Forever 21 is a fast fashion retailer with hea...           0
355  The Hallett Nature Sanctuary is a 4-acre (1.6 ...    10333723

          venue_mod_type
0     Chinese Restaurant
1    American Restaurant
2    Tourist Destination
3             Restaurant
4             Restaurant
..                   ...
351     Scenic Landmarks
352           Restaurant
353  Fashion Convenience
354  Fashion Convenience
355   Nature Attractions

[356 rows x 16 columns]

In [15]:
df_venue_static.to_csv('zone_Grouping.csv', index=False)

# Extracting Only Attraction Types and Ignoring Restaurants

In [16]:
unique_type_values = df_venue_static['venue_mod_type'].unique()
unique_type_values

array(['Chinese Restaurant', 'American Restaurant', 'Tourist Destination',
       'Restaurant', 'French Restaurant', 'Breakfast Restaurant',
       'Italian Restaurant', 'Cultural Heritage', 'Fashion Convenience',
       'Mediteranean Restaurant', 'BAR', 'Park', 'Neighborhood Market',
       'Shopping Center', 'Thai Restaurant', 'Scenic Landmarks',
       'Seafood Restaurant', 'Japanese Restaurant', 'Nature Attractions',
       'Gifts & Souvenirs', 'BEER', 'Vegeterian Restaurant',
       'Mexican Restaurant', 'Pizza Restaurant', 'FISHING', 'Art',
       'Asian Restaurant', 'Indian Restaurant', 'Burger Restaurant',
       'Religious', 'Sushi Restaurant', 'Library', 'Ramen Restaurant'],
      dtype=object)

In [17]:
specific_venue_types = ['Nature Attractions', 'Shopping Center', 'Tourist Destination', 'Cultural Heritage', 'Neighborhood Market', 'Fashion Convenience', 'Library', 'Scenic Landmarks', 'Art', 'Religious', 'Park', 'Gifts & Souvenirs']

# Filter the DataFrame to only include rows with the specific venue types
df_venue_static_att = df_venue_static[df_venue_static['venue_mod_type'].isin(specific_venue_types)]

# Now 'filtered_df' contains only rows where the "Attraction_Type" is in the specified list
print(df_venue_static_att)

                                       original_ven_id  hash_ven_id  latitude  \
2    ven_303749644b67576e694b55526b6f7759685f4a4457...      1030056   40.7758
9    ven_304a6c77747a366c755455526b6f77594a70705759...     57103262   40.7739
12   ven_30504d554d38614b6b6f78526b6f77597862677059...     91692844   40.7783
17   ven_306c63565a476e6d385736526b6f775a39786b4a67...     54332763   40.7506
18   ven_306d686f6679537162766c526b6f77324c69717a38...     44704230   40.8008
..                                                 ...          ...       ...
350  ven_7767787947374f4c683962526b6f775a3151357171...     39118662   40.7541
351  ven_7768585a615270346e454b526b6f7766426c2d4f31...     40246733   40.7797
353  ven_776c426b3172735a6f5455526b6f77595a5f4c7350...     96046596   40.7682
354  ven_7774565736353150745f5f526b6f775a3949484637...     12087255   40.7244
355  ven_7778775545424e486d7075526b6f7759465048596d...     31643001   40.7666

     longitude  zone_id                                            name  \
2     -73.9752       43                               Strawberry Fields
9     -73.9710       43                                Bethesda Terrace
12    -73.9540      263                                         Athleta
17    -73.9605      202  Franklin D. Roosevelt Four Freedoms State Park
18    -73.9593       24                                 Central Markets
..         ...      ...                                             ...
350   -74.0010      246                                            Edge
351   -73.9266       -1                        Robert F. Kennedy Bridge
353   -73.9827      142                               J.Crew Men's Shop
354   -73.9974      144                                      Forever 21
355   -73.9750       43                        Hallett Nature Sanctuary

                                               address           venue_type  \
2             Q2GG+83 New York, NY 10019 United States  TOURIST_DESTINATION
9                     New York, NY 10024 United States           HISTORICAL
12       1517 3rd Ave New York, NY 10028 United States              APPAREL
17   1 FDR Four Freedoms Park 1 FDR Four Freedoms P...                 PARK
18     300 W 110th St New York, NY 10025 United States          SUPERMARKET
..                                                 ...                  ...
350   30 Hudson Yards New York, NY 10001 United States  TOURIST_DESTINATION
351                             NY 10035 United States               BRIDGE
353  10 Columbus Cir Space 207 New York, NY 10019 U...              APPAREL
354      568 Broadway New York, NY 10012 United States              APPAREL
355  6th Avenue & Central Park S New York, NY 10019...       NATURE_RESERVE

     rating  price             type_mod                 zone_group  \
2       4.6   -1.0  Tourist Destination            Upper West Side
9       4.7   -1.0    Cultural Heritage            Upper West Side
12      4.4    3.0  Fashion Convenience            Upper East Side
17      4.7   -1.0                 Park                      Other
18      3.8   -1.0  Neighborhood Market            Upper West Side
..      ...    ...                  ...                        ...
350     4.6   -1.0  Tourist Destination  Chelsea/Greenwhich market
351     4.2   -1.0     Scenic Landmarks                      Other
353     4.2    2.0  Fashion Convenience            Upper West Side
354     3.8    1.0  Fashion Convenience            Lower Manhattan
355     4.7   -1.0   Nature Attractions            Upper West Side

                                                 image  \
2    https://s3.amazonaws.com/assets.centralparknyc...
9    https://upload.wikimedia.org/wikipedia/commons...
12   https://media-cdn.tripadvisor.com/media/photo-...
17   https://media-cdn.tripadvisor.com/media/photo-...
18   https://oaidalleapiprodscus.blob.core.windows....
..                                                 ...
350  https://lh3.googleusercontent.com/p/AF1QipNGZ-...
351  https://media-cdn.tripadvisor.com/media/photo-...
353  https://media-cdn.tripadvisor.com/media/photo-...
354  https://media-cdn.tripadvisor.com/media/photo-...
355  https://media-cdn.tripadvisor.com/media/photo-...

                                           description location_id  \
2    Strawberry Fields is a music venue located in ...           0
9    Bethesda Terrace is an iconic New York City la...    10067208
12   Athleta is a women's athletic apparel company ...           0
17   Franklin D. Roosevelt Four Freedoms State Park...     3595273
18   Central Markets is a large indoor market locat...    23211435
..                                                 ...         ...
350  Edge is a nightclub located in the heart of th...        None
351  The Robert F. Kennedy Bridge, formerly known a...    14177380
353  The J.Crew Men's Shop is a men's clothing stor...           0
354  Forever 21 is a fast fashion retailer with hea...           0
355  The Hallett Nature Sanctuary is a 4-acre (1.6 ...    10333723

          venue_mod_type
2    Tourist Destination
9      Cultural Heritage
12   Fashion Convenience
17                  Park
18   Neighborhood Market
..                   ...
350  Tourist Destination
351     Scenic Landmarks
353  Fashion Convenience
354  Fashion Convenience
355   Nature Attractions

[204 rows x 16 columns]

# Extracting Only Restaurants

In [18]:
restaurant_venue_types = ['Chinese Restaurant', 'American Restaurant', 'Restaurant', 'French Restaurant', 'Breakfast Restaurant', 'Italian Restaurant', 'Mediteranean Restaurant', 'Seafood Restaurant', 'Japanese Restaurant', 'Thai Restaurant', 'Vegeterian Restaurant', 'Mexican Restaurant', 'Pizza Restaurant', 'Asian Restaurant', 'Indian Restaurant', 'Burger Restaurant', 'Sushi Restaurant', 'Ramen Restaurant']

# Filter the DataFrame to only include rows with the specific venue types
df_venue_static_res = df_venue_static[df_venue_static['venue_mod_type'].isin(specific_venue_types)]

# Now 'filtered_df' contains only rows where the "Attraction_Type" is in the specified list
print(df_venue_static_res)

                                       original_ven_id  hash_ven_id  latitude  \
2    ven_303749644b67576e694b55526b6f7759685f4a4457...      1030056   40.7758
9    ven_304a6c77747a366c755455526b6f77594a70705759...     57103262   40.7739
12   ven_30504d554d38614b6b6f78526b6f77597862677059...     91692844   40.7783
17   ven_306c63565a476e6d385736526b6f775a39786b4a67...     54332763   40.7506
18   ven_306d686f6679537162766c526b6f77324c69717a38...     44704230   40.8008
..                                                 ...          ...       ...
350  ven_7767787947374f4c683962526b6f775a3151357171...     39118662   40.7541
351  ven_7768585a615270346e454b526b6f7766426c2d4f31...     40246733   40.7797
353  ven_776c426b3172735a6f5455526b6f77595a5f4c7350...     96046596   40.7682
354  ven_7774565736353150745f5f526b6f775a3949484637...     12087255   40.7244
355  ven_7778775545424e486d7075526b6f7759465048596d...     31643001   40.7666

     longitude  zone_id                                            name  \
2     -73.9752       43                               Strawberry Fields
9     -73.9710       43                                Bethesda Terrace
12    -73.9540      263                                         Athleta
17    -73.9605      202  Franklin D. Roosevelt Four Freedoms State Park
18    -73.9593       24                                 Central Markets
..         ...      ...                                             ...
350   -74.0010      246                                            Edge
351   -73.9266       -1                        Robert F. Kennedy Bridge
353   -73.9827      142                               J.Crew Men's Shop
354   -73.9974      144                                      Forever 21
355   -73.9750       43                        Hallett Nature Sanctuary

                                               address           venue_type  \
2             Q2GG+83 New York, NY 10019 United States  TOURIST_DESTINATION
9                     New York, NY 10024 United States           HISTORICAL
12       1517 3rd Ave New York, NY 10028 United States              APPAREL
17   1 FDR Four Freedoms Park 1 FDR Four Freedoms P...                 PARK
18     300 W 110th St New York, NY 10025 United States          SUPERMARKET
..                                                 ...                  ...
350   30 Hudson Yards New York, NY 10001 United States  TOURIST_DESTINATION
351                             NY 10035 United States               BRIDGE
353  10 Columbus Cir Space 207 New York, NY 10019 U...              APPAREL
354      568 Broadway New York, NY 10012 United States              APPAREL
355  6th Avenue & Central Park S New York, NY 10019...       NATURE_RESERVE

     rating  price             type_mod                 zone_group  \
2       4.6   -1.0  Tourist Destination            Upper West Side
9       4.7   -1.0    Cultural Heritage            Upper West Side
12      4.4    3.0  Fashion Convenience            Upper East Side
17      4.7   -1.0                 Park                      Other
18      3.8   -1.0  Neighborhood Market            Upper West Side
..      ...    ...                  ...                        ...
350     4.6   -1.0  Tourist Destination  Chelsea/Greenwhich market
351     4.2   -1.0     Scenic Landmarks                      Other
353     4.2    2.0  Fashion Convenience            Upper West Side
354     3.8    1.0  Fashion Convenience            Lower Manhattan
355     4.7   -1.0   Nature Attractions            Upper West Side

                                                 image  \
2    https://s3.amazonaws.com/assets.centralparknyc...
9    https://upload.wikimedia.org/wikipedia/commons...
12   https://media-cdn.tripadvisor.com/media/photo-...
17   https://media-cdn.tripadvisor.com/media/photo-...
18   https://oaidalleapiprodscus.blob.core.windows....
..                                                 ...
350  https://lh3.googleusercontent.com/p/AF1QipNGZ-...
351  https://media-cdn.tripadvisor.com/media/photo-...
353  https://media-cdn.tripadvisor.com/media/photo-...
354  https://media-cdn.tripadvisor.com/media/photo-...
355  https://media-cdn.tripadvisor.com/media/photo-...

                                           description location_id  \
2    Strawberry Fields is a music venue located in ...           0
9    Bethesda Terrace is an iconic New York City la...    10067208
12   Athleta is a women's athletic apparel company ...           0
17   Franklin D. Roosevelt Four Freedoms State Park...     3595273
18   Central Markets is a large indoor market locat...    23211435
..                                                 ...         ...
350  Edge is a nightclub located in the heart of th...        None
351  The Robert F. Kennedy Bridge, formerly known a...    14177380
353  The J.Crew Men's Shop is a men's clothing stor...           0
354  Forever 21 is a fast fashion retailer with hea...           0
355  The Hallett Nature Sanctuary is a 4-acre (1.6 ...    10333723

          venue_mod_type
2    Tourist Destination
9      Cultural Heritage
12   Fashion Convenience
17                  Park
18   Neighborhood Market
..                   ...
350  Tourist Destination
351     Scenic Landmarks
353  Fashion Convenience
354  Fashion Convenience
355   Nature Attractions

[204 rows x 16 columns]

# Actual Flow

### Input

In [19]:
user_zone_input = ['Upper Manhattan','Midtown Manhattan']

In [20]:
user_input_attractions = ['Fashion Convenience']

In [21]:
user_input_res_breakfast = ['Breakfast Restaurant']
user_input_res_lunch = ['Chinese Restaurant', 'French Restaurant']
user_input_res_dinner = ['American Restaurant', 'Sushi Restaurant']

In [22]:
# Create the suggested itinerary
current_date_time = datetime.now()

# Get the current day
user_input_day = current_date_time.weekday()

In [23]:
# Step 1: Filter the data to include only restaurants
df_restaurants = df_venue_static[df_venue_static['venue_type'].str.contains('restaurant', case=False)]

In [24]:
unique_type_values_att = df_venue_static_att['venue_mod_type'].unique()
unique_type_values_att

array(['Tourist Destination', 'Cultural Heritage', 'Fashion Convenience',
       'Park', 'Neighborhood Market', 'Shopping Center',
       'Scenic Landmarks', 'Nature Attractions', 'Gifts & Souvenirs',
       'Art', 'Religious', 'Library'], dtype=object)

In [25]:
max_attractions_per_day = 3

if len(user_input_attractions) < max_attractions_per_day:
    x = max_attractions_per_day - len(user_input_attractions)
    updated_list = [num for num in unique_type_values_att if num not in user_input_attractions]
    
    similarities = []
    user_input_tag_embedding = nlp(user_input_attractions[0]).vector

    for tag in updated_list:
        tag_embedding = nlp(tag).vector
        similarity = user_input_tag_embedding.dot(tag_embedding) / (np.linalg.norm(user_input_tag_embedding) * np.linalg.norm(tag_embedding))
        similarities.append(similarity)

    sorted_indices = np.argsort(similarities)[::-1]  # Descending order
    most_similar_tags = [updated_list[i] for i in sorted_indices]
    slice_most_similar_tags = most_similar_tags[0:x]
    user_input_attractions = user_input_attractions + slice_most_similar_tags

print(user_input_attractions)

['Fashion Convenience', 'Tourist Destination', 'Cultural Heritage']

In [26]:
# Get only the attractions relevant to the user
attractions_user_filtered = df_venue_static_att[df_venue_static_att['type_mod'].isin(user_input_attractions)]

In [27]:
user_input_attractions

['Fashion Convenience', 'Tourist Destination', 'Cultural Heritage']

In [28]:
def get_time_filtered_df(data_frame, day, open_time, close_time):

    # Loop through each venue type and check for the specified condition
    for column, venue_ids in data_frame.items():
        valid_venues = []
        if column == 'original_ven_id':
            for idx, venue_id in enumerate(venue_ids):
                venue_info = df_venue_timings.loc[df_venue_timings['venue_id'] == venue_id]
                filtered_venue_info = venue_info.loc[(venue_info['day'] == day) & (venue_info['opening_time'] <= open_time) 
                                                  & (venue_info['closing_time'] >= close_time)
                                                    ]
                if not filtered_venue_info.empty:
                    valid_venues.append(venue_id)
            break

    filtered_venues = data_frame[data_frame['original_ven_id'].isin(valid_venues)]
    
    return filtered_venues

In [29]:
# Assume that each attraction has a 2 hour visiting time + a 1 hour travelling time
attraction_visiting_time_hours = 3

# Divide the day into Breakfast, Lunch, Dinner and 3 attraction slot start times
attraction_slot_starts = [9, 13, 16]

# Extract the attractions relevant to each timeslot
attractions_per_slot = []
for slot in attraction_slot_starts:
    attractions_per_slot.append(get_time_filtered_df(attractions_user_filtered, user_input_day, slot, slot + attraction_visiting_time_hours))

# Extract the attraction types relevant to each timeslot
attractions_type_per_slot = []
for attraction_slot in attractions_per_slot:
    attractions_type_per_slot.append(attraction_slot['venue_mod_type'].unique())

print(attractions_type_per_slot)
print(attractions_type_per_slot[0])
print(attractions_type_per_slot[1])
print(attractions_type_per_slot[2])

[array(['Tourist Destination', 'Cultural Heritage', 'Fashion Convenience'],
      dtype=object), array(['Fashion Convenience', 'Cultural Heritage', 'Tourist Destination'],
      dtype=object), array(['Fashion Convenience', 'Tourist Destination', 'Cultural Heritage'],
      dtype=object)]
['Tourist Destination' 'Cultural Heritage' 'Fashion Convenience']
['Fashion Convenience' 'Cultural Heritage' 'Tourist Destination']
['Fashion Convenience' 'Tourist Destination' 'Cultural Heritage']

In [30]:
# Removes the specified attraction from the rows where it is not unique
def remove_non_unique_attraction(attraction_table, attraction_to_remove):
    
    # Update attraction slot copy
    for idx, rem_slot in enumerate(attraction_table):
        # Remove only if other options are available
        if (len(rem_slot) != 1) & (attraction_to_remove in rem_slot):
            attraction_table[idx] = [i for i in rem_slot if attraction_to_remove not in i]

    return attraction_table

In [31]:
# Copy structures for processing
user_attractions_copy          = user_input_attractions.copy()
attractions_type_per_slot_copy = attractions_type_per_slot.copy()

# Continue this loop until no element has been eliminated
element_eliminated = True
while element_eliminated :
    element_eliminated = False
    
    # If only one of the attractions are valid for a slot, schedule that attraction for the slot
    for attraction_slot in attractions_type_per_slot_copy:
        if (len(attraction_slot) == 1) & (attraction_slot[0] in user_attractions_copy):
            print('REMOVING ', attraction_slot[0])
            user_attractions_copy.remove(attraction_slot[0])
            element_eliminated = True
            attractions_type_per_slot_copy = remove_non_unique_attraction(attractions_type_per_slot_copy, attraction_slot[0])
        
            print(user_attractions_copy)
            print(attractions_type_per_slot_copy)

    # If no element was eliminated, go to the remaining slots and select random elements
    if not element_eliminated:
        for idx, attraction_slot in enumerate(attractions_type_per_slot_copy):
            if (len(attraction_slot) > 1):
                attractions_type_per_slot_copy[idx] = [i for i in attractions_type_per_slot_copy[idx] if attraction_slot[0] in i]
                print('REMOVING ', attraction_slot[0])
                user_attractions_copy.remove(attraction_slot[0])
                element_eliminated = True
                attractions_type_per_slot_copy = remove_non_unique_attraction(attractions_type_per_slot_copy, attraction_slot[0])
        
                print(user_attractions_copy)
                print(attractions_type_per_slot_copy)
                break

suggested_attraction_agenda = attractions_type_per_slot_copy

print('Unreachable Attractions: ', user_attractions_copy)
print('Suggested Agenda: ', attractions_type_per_slot_copy)

REMOVING  Tourist Destination
['Fashion Convenience', 'Cultural Heritage']
[['Tourist Destination'], ['Fashion Convenience', 'Cultural Heritage'], ['Fashion Convenience', 'Cultural Heritage']]
REMOVING  Fashion Convenience
['Cultural Heritage']
[['Tourist Destination'], ['Fashion Convenience'], ['Cultural Heritage']]
REMOVING  Cultural Heritage
[]
[['Tourist Destination'], ['Fashion Convenience'], ['Cultural Heritage']]
Unreachable Attractions:  []
Suggested Agenda:  [['Tourist Destination'], ['Fashion Convenience'], ['Cultural Heritage']]

In [32]:
zone_group = []
for group in user_zone_input:
    for zone in venue_zone_grouping[group]:
        zone_group.append(zone)
zone_group

[128,
 127,
 243,
 120,
 244,
 116,
 42,
 152,
 41,
 74,
 75,
 50,
 48,
 230,
 163,
 161,
 162,
 229,
 233,
 164,
 170,
 137,
 224,
 107,
 234]

In [33]:
# Filter the restaurant DataFrame based on the zone IDs
df_filtered_restaurants = df_restaurants[df_restaurants['zone_id'].isin(zone_group)]

# Print the filtered DataFrame
print(df_filtered_restaurants)

                                       original_ven_id  hash_ven_id  latitude  \
3    ven_3038654c546f3936784873526b6f775a3148646771...     23854076   40.7580
5    ven_304330524e695f70503476526b6f775a6c6e5a7133...     43331760   40.7630
8    ven_304961777454515336474c526b6f775a4e51737357...     55261692   40.7512
15   ven_3068674e6f56796343637a526b6f77597431776642...     45765601   40.7639
23   ven_342d4f33343573744c7a2d526b6f775a4277454754...      2779193   40.7545
24   ven_34416b6a74734635334274526b6f775964314e4669...     61577324   40.7644
45   ven_3855585f5861474e706f34526b6f77593930793336...     63592504   40.7646
48   ven_385a743953644e70587637526b6f7759395f534f53...     75402097   40.7598
66   ven_4148494f684649484f4477526b6f775a4e68634d42...     10162275   40.7457
77   ven_4168437230416a45783158526b6f7759526c2d6f53...     19253272   40.7575
80   ven_417239716752736e6c447a526b6f7759745078672d...     52953994   40.7611
89   ven_454b716e73544e6e535f74526b6f7759683159304f...     23432873   40.7675
115  ven_495374556d36693165436d526b6f775a4645587076...     22721619   40.7629
142  ven_4d68414c714841656f6d2d526b6f775964467a7352...     17902456   40.7629
156  ven_5158584145756f374a4b76526b6f777a3766354451...     40717426   40.8690
159  ven_515f466457386349774574526b6f775a46556e3743...     90462994   40.7662
167  ven_516c467570796e3658524b526b6f775a395562336d...     87083273   40.7561
170  ven_517362734b764763584752526b6f775a4a30324630...     85173724   40.7521
181  ven_554753707a353136347861526b6f775a646b365151...      9540340   40.7614
184  ven_554f563759583653705f73526b6f775a6461463744...      2440176   40.7419
232  ven_635a694159315a6c425f6d526b6f775a7877674f4d...     37281770   40.7617
270  ven_6777326f753853575a3875526b6f77595246434173...     37767740   40.7604
273  ven_677a6b384456717362517a526b6f775a3147645558...      2068527   40.7582
285  ven_6b61647667744a39587a64526b6f77594e46347458...     35960844   40.7599
302  ven_6f3970777349416b6b635a526b6f77594a46553776...     19070061   40.7594
307  ven_6f4d4d585279554f413278526b6f77596c66697137...     82293736   40.7625
309  ven_6f53534232357872613631526b6f77313366665236...     48089805   40.7957
319  ven_7330663377497968657a68526b6f77594e3139724b...     70625988   40.7601
321  ven_73346149424d7857715942526b6f775a6876736d64...     10807076   40.7582
322  ven_73373243427a7677647179526b6f77595a56676549...     61598690   40.7609
330  ven_735365637a644a62515946526b6f775a4671674951...     71179698   40.7385
334  ven_736b33656f702d3178326d526b6f77594a46747a38...     72576807   40.7568
339  ven_7379566367365444366462526b6f775a70384d744f...     76423426   40.7626

     longitude  zone_id                                               name  \
3     -73.9853      230                                        Time Square
5     -73.9767      161                                      The Consulate
8     -73.9749      162                                 The Capital Grille
15    -73.9767      163  Mangia 57th - Midtown Italian Food & Corporate...
23    -73.9825      161                                   Gabriel Kreuther
24    -73.9885       48                       Empanada Mama Hell’s Kitchen
45    -73.9960       50                                             PRINT.
48    -73.9823      230                                             Oceana
66    -73.9881      164                                            Koloman
77    -73.9867      230        Carmine's Italian Restaurant - Times Square
80    -73.9768      161                                         The Modern
89    -73.9840       48                             ABA Turkish Restaurant
115   -73.9754      163                                          Felice 56
142   -73.9841      230                                      Victor's Cafe
156   -73.9319      243                                         The Hudson
159   -73.9812      163                              Wolf at Nordstrom NYC
167   -73.9941       48                                     The Restaurant
170   -73.9839      164                                  Harta & Bar Harta
181   -73.9818      230                                       Le Bernardin
184   -73.9846      107                                             Upland
232   -73.9675      162                                    Hutong New York
270   -73.9889       48                                           Barbetta
273   -73.9702      162                                             Mischa
285   -73.9918       48                                La Pulpería 44th HK
302   -73.9925       48                                                Bea
307   -73.9773      161                                    Benoit New York
309   -73.9359       74                                     La Avenida NYC
319   -73.9891       48                                          Joe Allen
321   -73.9926       48                               istanbul Bay Express
322   -73.9863      230                                     La Masseria NY
330   -73.9885      234                                    Gramercy Tavern
334   -73.9935       48                                         Buenavista
339   -73.9808      230                                La Grande Boucherie

                                               address           venue_type  \
3       199 W 45th St New York, NY 10036 United States           RESTAURANT
5        44 W 56th St New York, NY 10019 United States    FRENCH_RESTAURANT
8       155 E 42nd St New York, NY 10017 United States           RESTAURANT
15       50 W 57th St New York, NY 10019 United States   ITALIAN_RESTAURANT
23       41 W 42nd St New York, NY 10036 United States    FRENCH_RESTAURANT
24        765 9th Ave New York, NY 10019 United States           RESTAURANT
45   Ground Level 653 11th Ave New York, NY 10036 U...           RESTAURANT
48      120 W 49th St New York, NY 10020 United States   SEAFOOD_RESTAURANT
66       16 W 29th St New York, NY 10001 United States           RESTAURANT
77      200 W 44th St New York, NY 10036 United States   ITALIAN_RESTAURANT
80        9 W 53rd St New York, NY 10019 United States  AMERICAN_RESTAURANT
89      325 W 57th St New York, NY 10019 United States           RESTAURANT
115      15 W 56th St New York, NY 10019 United States   ITALIAN_RESTAURANT
142     236 W 52nd St New York, NY 10019 United States           RESTAURANT
156    348 Dyckman St New York, NY 10034 United States  AMERICAN_RESTAURANT
159     225 W 57th St New York, NY 10019 United States   ITALIAN_RESTAURANT
167       506 9th Ave New York, NY 10018 United States           RESTAURANT
170      30 W 39th St New York, NY 10018 United States  AMERICAN_RESTAURANT
181     155 W 51st St New York, NY 10019 United States    FRENCH_RESTAURANT
184    345 Park Ave S New York, NY 10010 United States  AMERICAN_RESTAURANT
232  731 Lexington Avenue Inside Beacon Courtyard N...   CHINESE_RESTAURANT
270     321 W 46th St New York, NY 10036 United States   ITALIAN_RESTAURANT
273     157 E 53rd St New York, NY 10022 United States  AMERICAN_RESTAURANT
285       623 9th Ave New York, NY 10036 United States           RESTAURANT
302     403 W 43rd St New York, NY 10036 United States  AMERICAN_RESTAURANT
307      60 W 55th St New York, NY 10019 United States    FRENCH_RESTAURANT
309     2247 1st Ave. New York, NY 10029 United States   MEXICAN_RESTAURANT
319     326 W 46th St New York, NY 10036 United States  AMERICAN_RESTAURANT
321       578 9th Ave New York, NY 10036 United States           RESTAURANT
322     235 W 48th St New York, NY 10036 United States   ITALIAN_RESTAURANT
330      42 E 20th St New York, NY 10003 United States  AMERICAN_RESTAURANT
334       536 9th Ave New York, NY 10018 United States           RESTAURANT
339     145 W 53rd St New York, NY 10019 United States    FRENCH_RESTAURANT

     rating  price             type_mod                 zone_group  \
3       4.7   -1.0           Restaurant          Midtown Manhattan
5       4.8   -1.0    French Restaurant          Midtown Manhattan
8       4.6    4.0           Restaurant          Midtown Manhattan
15      4.4    2.0   Italian Restaurant          Midtown Manhattan
23      4.6    4.0    French Restaurant          Midtown Manhattan
24      4.4    2.0           Restaurant          Midtown Manhattan
45      4.4    3.0           Restaurant          Midtown Manhattan
48      4.5    4.0   Seafood Restaurant          Midtown Manhattan
66      4.4   -1.0           Restaurant          Midtown Manhattan
77      4.5    2.0   Italian Restaurant          Midtown Manhattan
80      4.6    4.0  American Restaurant          Midtown Manhattan
89      4.3    2.0           Restaurant          Midtown Manhattan
115     4.6    2.0   Italian Restaurant          Midtown Manhattan
142     4.4    2.0           Restaurant          Midtown Manhattan
156     3.9    2.0  American Restaurant            Upper Manhattan
159     4.7    3.0   Italian Restaurant          Midtown Manhattan
167     4.2    2.0           Restaurant          Midtown Manhattan
170     4.3   -1.0  American Restaurant          Midtown Manhattan
181     4.4   -1.0    French Restaurant          Midtown Manhattan
184     4.5    3.0  American Restaurant            Lower Manhattan
232     4.0    4.0   Chinese Restaurant          Midtown Manhattan
270     4.2    3.0   Italian Restaurant          Midtown Manhattan
273     4.6   -1.0  American Restaurant          Midtown Manhattan
285     4.4    2.0           Restaurant          Midtown Manhattan
302     4.4    2.0  American Restaurant          Midtown Manhattan
307     4.4    3.0    French Restaurant          Midtown Manhattan
309     4.4    2.0   Mexican Restaurant            Upper Manhattan
319     4.4    2.0  American Restaurant          Midtown Manhattan
321     4.3   -1.0           Restaurant          Midtown Manhattan
322     4.4    3.0   Italian Restaurant          Midtown Manhattan
330     4.6    4.0  American Restaurant  Chelsea/Greenwhich market
334     4.7    2.0           Restaurant          Midtown Manhattan
339     4.5    2.0    French Restaurant          Midtown Manhattan

                                                 image  \
3    https://upload.wikimedia.org/wikipedia/commons...
5    https://s3-media0.fl.yelpcdn.com/bphoto/zvwIqh...
8    https://newyorklifestylesmagazine.com/images/c...
15   https://media-cdn.tripadvisor.com/media/photo-...
23   https://media-cdn.tripadvisor.com/media/photo-...
24   https://media-cdn.tripadvisor.com/media/photo-...
45   https://media-cdn.tripadvisor.com/media/photo-...
48   https://oaidalleapiprodscus.blob.core.windows....
66   https://media-cdn.tripadvisor.com/media/photo-...
77   https://media-cdn.tripadvisor.com/media/photo-...
80   https://media-cdn.tripadvisor.com/media/photo-...
89   https://media-cdn.tripadvisor.com/media/photo-...
115  https://media-cdn.tripadvisor.com/media/photo-...
142  https://media-cdn.tripadvisor.com/media/photo-...
156  https://media-cdn.tripadvisor.com/media/photo-...
159  https://oaidalleapiprodscus.blob.core.windows....
167  https://media-cdn.tripadvisor.com/media/photo-...
170  https://media-cdn.tripadvisor.com/media/photo-...
181  https://oaidalleapiprodscus.blob.core.windows....
184  https://media-cdn.tripadvisor.com/media/photo-...
232  https://media-cdn.tripadvisor.com/media/photo-...
270  https://media-cdn.tripadvisor.com/media/photo-...
273  https://media-cdn.tripadvisor.com/media/photo-...
285  https://media-cdn.tripadvisor.com/media/photo-...
302  https://media-cdn.tripadvisor.com/media/photo-...
307  https://media-cdn.tripadvisor.com/media/photo-...
309  https://media-cdn.tripadvisor.com/media/photo-...
319  https://media-cdn.tripadvisor.com/media/photo-...
321  https://media-cdn.tripadvisor.com/media/photo-...
322  https://media-cdn.tripadvisor.com/media/photo-...
330  https://media-cdn.tripadvisor.com/media/photo-...
334  https://media-cdn.tripadvisor.com/media/photo-...
339  https://oaidalleapiprodscus.blob.core.windows....

                                           description location_id  \
3    Time Square is a world-famous entertainment di...           0
5    The Consulate is a large, modern venue located...           0
8    The Capital Grille is an upscale steakhouse wi...           0
15   Mangia 57th is a Midtown Italian restaurant th...           0
23   The Gabriel Kreuther restaurant is located in ...           0
24   Empanada Mama Hell’s Kitchen is a small, hole-...           0
45   PRINT. is a modern printing studio and event s...           0
48   Oceana is a large nightclub located in the hea...      548695
66   Koloman is a beautifully designed venue that o...           0
77   Carmine's Italian Restaurant - Times Square is...           0
80   Built in 1913, this impressive church contains...      146337
89   ABA Turkish Restaurant is a traditional Turkis...           0
115  Felice 56 is a cozy wine bar located on the Up...           0
142  Victor's Cafe is a cozy little spot located in...      548678
156  The Hudson is a music venue in New York City. ...     3598044
159  A major department store 6Level Flight floored...    23628392
167  The Restaurant is a casual American eatery loc...           0
170  Harta & Bar Harta is a restaurant and bar loca...           0
181  Le Bernardin is a Michelin-starred French seaf...      548351
184  Upland is a restaurant located in New York Cit...           0
232  Bloomingdale's is America's only nationwide, f...      208898
270  Barbetta is an upscale Italian restaurant loca...           0
273  The venue Mischa is a beautiful and intimate s...      548844
285  La Pulpería 44th HK is an Argentinean-style se...           0
302  Bea is a small, intimate venue located in the ...           0
307  Benoit New York is an upscale French restauran...           0
309  La Avenida NYC is a beautifully designed space...           0
319  Joe Allen is a cozy little restaurant located ...           0
321  Istanbul Bay Express is a world-class events v...           0
322  La Masseria NY is a fine-dining Italian restau...           0
330  Gramercy Tavern is a Michelin-starred American...           0
334  The Buenavista is a large venue that can accom...           0
339  La Grande Boucherie is a large, formal dining ...           0

          venue_mod_type
3             Restaurant
5      French Restaurant
8             Restaurant
15    Italian Restaurant
23     French Restaurant
24            Restaurant
45            Restaurant
48    Seafood Restaurant
66            Restaurant
77    Italian Restaurant
80   American Restaurant
89            Restaurant
115   Italian Restaurant
142           Restaurant
156  American Restaurant
159   Italian Restaurant
167           Restaurant
170  American Restaurant
181    French Restaurant
184  American Restaurant
232   Chinese Restaurant
270   Italian Restaurant
273  American Restaurant
285           Restaurant
302  American Restaurant
307    French Restaurant
309   Mexican Restaurant
319  American Restaurant
321           Restaurant
322   Italian Restaurant
330  American Restaurant
334           Restaurant
339    French Restaurant

In [34]:
num_top_restaurants = 5  # just example 

# # Sort the DataFrame by rating in descending order and then by price in ascending order
# df_filtered_restaurants = df_filtered_restaurants.sort_values(by=['rating', 'price'], ascending=[False, True])

# # Display the top restaurants
# print(df_filtered_restaurants.head(num_top_restaurants))

In [35]:
print(df_filtered_restaurants)

                                       original_ven_id  hash_ven_id  latitude  \
3    ven_3038654c546f3936784873526b6f775a3148646771...     23854076   40.7580
5    ven_304330524e695f70503476526b6f775a6c6e5a7133...     43331760   40.7630
8    ven_304961777454515336474c526b6f775a4e51737357...     55261692   40.7512
15   ven_3068674e6f56796343637a526b6f77597431776642...     45765601   40.7639
23   ven_342d4f33343573744c7a2d526b6f775a4277454754...      2779193   40.7545
24   ven_34416b6a74734635334274526b6f775964314e4669...     61577324   40.7644
45   ven_3855585f5861474e706f34526b6f77593930793336...     63592504   40.7646
48   ven_385a743953644e70587637526b6f7759395f534f53...     75402097   40.7598
66   ven_4148494f684649484f4477526b6f775a4e68634d42...     10162275   40.7457
77   ven_4168437230416a45783158526b6f7759526c2d6f53...     19253272   40.7575
80   ven_417239716752736e6c447a526b6f7759745078672d...     52953994   40.7611
89   ven_454b716e73544e6e535f74526b6f7759683159304f...     23432873   40.7675
115  ven_495374556d36693165436d526b6f775a4645587076...     22721619   40.7629
142  ven_4d68414c714841656f6d2d526b6f775964467a7352...     17902456   40.7629
156  ven_5158584145756f374a4b76526b6f777a3766354451...     40717426   40.8690
159  ven_515f466457386349774574526b6f775a46556e3743...     90462994   40.7662
167  ven_516c467570796e3658524b526b6f775a395562336d...     87083273   40.7561
170  ven_517362734b764763584752526b6f775a4a30324630...     85173724   40.7521
181  ven_554753707a353136347861526b6f775a646b365151...      9540340   40.7614
184  ven_554f563759583653705f73526b6f775a6461463744...      2440176   40.7419
232  ven_635a694159315a6c425f6d526b6f775a7877674f4d...     37281770   40.7617
270  ven_6777326f753853575a3875526b6f77595246434173...     37767740   40.7604
273  ven_677a6b384456717362517a526b6f775a3147645558...      2068527   40.7582
285  ven_6b61647667744a39587a64526b6f77594e46347458...     35960844   40.7599
302  ven_6f3970777349416b6b635a526b6f77594a46553776...     19070061   40.7594
307  ven_6f4d4d585279554f413278526b6f77596c66697137...     82293736   40.7625
309  ven_6f53534232357872613631526b6f77313366665236...     48089805   40.7957
319  ven_7330663377497968657a68526b6f77594e3139724b...     70625988   40.7601
321  ven_73346149424d7857715942526b6f775a6876736d64...     10807076   40.7582
322  ven_73373243427a7677647179526b6f77595a56676549...     61598690   40.7609
330  ven_735365637a644a62515946526b6f775a4671674951...     71179698   40.7385
334  ven_736b33656f702d3178326d526b6f77594a46747a38...     72576807   40.7568
339  ven_7379566367365444366462526b6f775a70384d744f...     76423426   40.7626

     longitude  zone_id                                               name  \
3     -73.9853      230                                        Time Square
5     -73.9767      161                                      The Consulate
8     -73.9749      162                                 The Capital Grille
15    -73.9767      163  Mangia 57th - Midtown Italian Food & Corporate...
23    -73.9825      161                                   Gabriel Kreuther
24    -73.9885       48                       Empanada Mama Hell’s Kitchen
45    -73.9960       50                                             PRINT.
48    -73.9823      230                                             Oceana
66    -73.9881      164                                            Koloman
77    -73.9867      230        Carmine's Italian Restaurant - Times Square
80    -73.9768      161                                         The Modern
89    -73.9840       48                             ABA Turkish Restaurant
115   -73.9754      163                                          Felice 56
142   -73.9841      230                                      Victor's Cafe
156   -73.9319      243                                         The Hudson
159   -73.9812      163                              Wolf at Nordstrom NYC
167   -73.9941       48                                     The Restaurant
170   -73.9839      164                                  Harta & Bar Harta
181   -73.9818      230                                       Le Bernardin
184   -73.9846      107                                             Upland
232   -73.9675      162                                    Hutong New York
270   -73.9889       48                                           Barbetta
273   -73.9702      162                                             Mischa
285   -73.9918       48                                La Pulpería 44th HK
302   -73.9925       48                                                Bea
307   -73.9773      161                                    Benoit New York
309   -73.9359       74                                     La Avenida NYC
319   -73.9891       48                                          Joe Allen
321   -73.9926       48                               istanbul Bay Express
322   -73.9863      230                                     La Masseria NY
330   -73.9885      234                                    Gramercy Tavern
334   -73.9935       48                                         Buenavista
339   -73.9808      230                                La Grande Boucherie

                                               address           venue_type  \
3       199 W 45th St New York, NY 10036 United States           RESTAURANT
5        44 W 56th St New York, NY 10019 United States    FRENCH_RESTAURANT
8       155 E 42nd St New York, NY 10017 United States           RESTAURANT
15       50 W 57th St New York, NY 10019 United States   ITALIAN_RESTAURANT
23       41 W 42nd St New York, NY 10036 United States    FRENCH_RESTAURANT
24        765 9th Ave New York, NY 10019 United States           RESTAURANT
45   Ground Level 653 11th Ave New York, NY 10036 U...           RESTAURANT
48      120 W 49th St New York, NY 10020 United States   SEAFOOD_RESTAURANT
66       16 W 29th St New York, NY 10001 United States           RESTAURANT
77      200 W 44th St New York, NY 10036 United States   ITALIAN_RESTAURANT
80        9 W 53rd St New York, NY 10019 United States  AMERICAN_RESTAURANT
89      325 W 57th St New York, NY 10019 United States           RESTAURANT
115      15 W 56th St New York, NY 10019 United States   ITALIAN_RESTAURANT
142     236 W 52nd St New York, NY 10019 United States           RESTAURANT
156    348 Dyckman St New York, NY 10034 United States  AMERICAN_RESTAURANT
159     225 W 57th St New York, NY 10019 United States   ITALIAN_RESTAURANT
167       506 9th Ave New York, NY 10018 United States           RESTAURANT
170      30 W 39th St New York, NY 10018 United States  AMERICAN_RESTAURANT
181     155 W 51st St New York, NY 10019 United States    FRENCH_RESTAURANT
184    345 Park Ave S New York, NY 10010 United States  AMERICAN_RESTAURANT
232  731 Lexington Avenue Inside Beacon Courtyard N...   CHINESE_RESTAURANT
270     321 W 46th St New York, NY 10036 United States   ITALIAN_RESTAURANT
273     157 E 53rd St New York, NY 10022 United States  AMERICAN_RESTAURANT
285       623 9th Ave New York, NY 10036 United States           RESTAURANT
302     403 W 43rd St New York, NY 10036 United States  AMERICAN_RESTAURANT
307      60 W 55th St New York, NY 10019 United States    FRENCH_RESTAURANT
309     2247 1st Ave. New York, NY 10029 United States   MEXICAN_RESTAURANT
319     326 W 46th St New York, NY 10036 United States  AMERICAN_RESTAURANT
321       578 9th Ave New York, NY 10036 United States           RESTAURANT
322     235 W 48th St New York, NY 10036 United States   ITALIAN_RESTAURANT
330      42 E 20th St New York, NY 10003 United States  AMERICAN_RESTAURANT
334       536 9th Ave New York, NY 10018 United States           RESTAURANT
339     145 W 53rd St New York, NY 10019 United States    FRENCH_RESTAURANT

     rating  price             type_mod                 zone_group  \
3       4.7   -1.0           Restaurant          Midtown Manhattan
5       4.8   -1.0    French Restaurant          Midtown Manhattan
8       4.6    4.0           Restaurant          Midtown Manhattan
15      4.4    2.0   Italian Restaurant          Midtown Manhattan
23      4.6    4.0    French Restaurant          Midtown Manhattan
24      4.4    2.0           Restaurant          Midtown Manhattan
45      4.4    3.0           Restaurant          Midtown Manhattan
48      4.5    4.0   Seafood Restaurant          Midtown Manhattan
66      4.4   -1.0           Restaurant          Midtown Manhattan
77      4.5    2.0   Italian Restaurant          Midtown Manhattan
80      4.6    4.0  American Restaurant          Midtown Manhattan
89      4.3    2.0           Restaurant          Midtown Manhattan
115     4.6    2.0   Italian Restaurant          Midtown Manhattan
142     4.4    2.0           Restaurant          Midtown Manhattan
156     3.9    2.0  American Restaurant            Upper Manhattan
159     4.7    3.0   Italian Restaurant          Midtown Manhattan
167     4.2    2.0           Restaurant          Midtown Manhattan
170     4.3   -1.0  American Restaurant          Midtown Manhattan
181     4.4   -1.0    French Restaurant          Midtown Manhattan
184     4.5    3.0  American Restaurant            Lower Manhattan
232     4.0    4.0   Chinese Restaurant          Midtown Manhattan
270     4.2    3.0   Italian Restaurant          Midtown Manhattan
273     4.6   -1.0  American Restaurant          Midtown Manhattan
285     4.4    2.0           Restaurant          Midtown Manhattan
302     4.4    2.0  American Restaurant          Midtown Manhattan
307     4.4    3.0    French Restaurant          Midtown Manhattan
309     4.4    2.0   Mexican Restaurant            Upper Manhattan
319     4.4    2.0  American Restaurant          Midtown Manhattan
321     4.3   -1.0           Restaurant          Midtown Manhattan
322     4.4    3.0   Italian Restaurant          Midtown Manhattan
330     4.6    4.0  American Restaurant  Chelsea/Greenwhich market
334     4.7    2.0           Restaurant          Midtown Manhattan
339     4.5    2.0    French Restaurant          Midtown Manhattan

                                                 image  \
3    https://upload.wikimedia.org/wikipedia/commons...
5    https://s3-media0.fl.yelpcdn.com/bphoto/zvwIqh...
8    https://newyorklifestylesmagazine.com/images/c...
15   https://media-cdn.tripadvisor.com/media/photo-...
23   https://media-cdn.tripadvisor.com/media/photo-...
24   https://media-cdn.tripadvisor.com/media/photo-...
45   https://media-cdn.tripadvisor.com/media/photo-...
48   https://oaidalleapiprodscus.blob.core.windows....
66   https://media-cdn.tripadvisor.com/media/photo-...
77   https://media-cdn.tripadvisor.com/media/photo-...
80   https://media-cdn.tripadvisor.com/media/photo-...
89   https://media-cdn.tripadvisor.com/media/photo-...
115  https://media-cdn.tripadvisor.com/media/photo-...
142  https://media-cdn.tripadvisor.com/media/photo-...
156  https://media-cdn.tripadvisor.com/media/photo-...
159  https://oaidalleapiprodscus.blob.core.windows....
167  https://media-cdn.tripadvisor.com/media/photo-...
170  https://media-cdn.tripadvisor.com/media/photo-...
181  https://oaidalleapiprodscus.blob.core.windows....
184  https://media-cdn.tripadvisor.com/media/photo-...
232  https://media-cdn.tripadvisor.com/media/photo-...
270  https://media-cdn.tripadvisor.com/media/photo-...
273  https://media-cdn.tripadvisor.com/media/photo-...
285  https://media-cdn.tripadvisor.com/media/photo-...
302  https://media-cdn.tripadvisor.com/media/photo-...
307  https://media-cdn.tripadvisor.com/media/photo-...
309  https://media-cdn.tripadvisor.com/media/photo-...
319  https://media-cdn.tripadvisor.com/media/photo-...
321  https://media-cdn.tripadvisor.com/media/photo-...
322  https://media-cdn.tripadvisor.com/media/photo-...
330  https://media-cdn.tripadvisor.com/media/photo-...
334  https://media-cdn.tripadvisor.com/media/photo-...
339  https://oaidalleapiprodscus.blob.core.windows....

                                           description location_id  \
3    Time Square is a world-famous entertainment di...           0
5    The Consulate is a large, modern venue located...           0
8    The Capital Grille is an upscale steakhouse wi...           0
15   Mangia 57th is a Midtown Italian restaurant th...           0
23   The Gabriel Kreuther restaurant is located in ...           0
24   Empanada Mama Hell’s Kitchen is a small, hole-...           0
45   PRINT. is a modern printing studio and event s...           0
48   Oceana is a large nightclub located in the hea...      548695
66   Koloman is a beautifully designed venue that o...           0
77   Carmine's Italian Restaurant - Times Square is...           0
80   Built in 1913, this impressive church contains...      146337
89   ABA Turkish Restaurant is a traditional Turkis...           0
115  Felice 56 is a cozy wine bar located on the Up...           0
142  Victor's Cafe is a cozy little spot located in...      548678
156  The Hudson is a music venue in New York City. ...     3598044
159  A major department store 6Level Flight floored...    23628392
167  The Restaurant is a casual American eatery loc...           0
170  Harta & Bar Harta is a restaurant and bar loca...           0
181  Le Bernardin is a Michelin-starred French seaf...      548351
184  Upland is a restaurant located in New York Cit...           0
232  Bloomingdale's is America's only nationwide, f...      208898
270  Barbetta is an upscale Italian restaurant loca...           0
273  The venue Mischa is a beautiful and intimate s...      548844
285  La Pulpería 44th HK is an Argentinean-style se...           0
302  Bea is a small, intimate venue located in the ...           0
307  Benoit New York is an upscale French restauran...           0
309  La Avenida NYC is a beautifully designed space...           0
319  Joe Allen is a cozy little restaurant located ...           0
321  Istanbul Bay Express is a world-class events v...           0
322  La Masseria NY is a fine-dining Italian restau...           0
330  Gramercy Tavern is a Michelin-starred American...           0
334  The Buenavista is a large venue that can accom...           0
339  La Grande Boucherie is a large, formal dining ...           0

          venue_mod_type
3             Restaurant
5      French Restaurant
8             Restaurant
15    Italian Restaurant
23     French Restaurant
24            Restaurant
45            Restaurant
48    Seafood Restaurant
66            Restaurant
77    Italian Restaurant
80   American Restaurant
89            Restaurant
115   Italian Restaurant
142           Restaurant
156  American Restaurant
159   Italian Restaurant
167           Restaurant
170  American Restaurant
181    French Restaurant
184  American Restaurant
232   Chinese Restaurant
270   Italian Restaurant
273  American Restaurant
285           Restaurant
302  American Restaurant
307    French Restaurant
309   Mexican Restaurant
319  American Restaurant
321           Restaurant
322   Italian Restaurant
330  American Restaurant
334           Restaurant
339    French Restaurant

In [36]:
print(df_venue_merged)

        venue_id                   venue_name  busyness          venue_type  \
0       47508476  Han Dynasty Upper West Side         0  CHINESE_RESTAURANT
1       47508476  Han Dynasty Upper West Side         0  CHINESE_RESTAURANT
2       47508476  Han Dynasty Upper West Side         0  CHINESE_RESTAURANT
3       47508476  Han Dynasty Upper West Side         0  CHINESE_RESTAURANT
4       47508476  Han Dynasty Upper West Side         0  CHINESE_RESTAURANT
...          ...                          ...       ...                 ...
231949  31643001     Hallett Nature Sanctuary         0      NATURE_RESERVE
231950  31643001     Hallett Nature Sanctuary         0      NATURE_RESERVE
231951  31643001     Hallett Nature Sanctuary         0      NATURE_RESERVE
231952  31643001     Hallett Nature Sanctuary         0      NATURE_RESERVE
231953  31643001     Hallett Nature Sanctuary         0      NATURE_RESERVE

                                            venue_address         merged_time  \
0          215 W 85th St New York, NY 10024 United States 2023-06-19 06:00:00
1          215 W 85th St New York, NY 10024 United States 2023-06-19 07:00:00
2          215 W 85th St New York, NY 10024 United States 2023-06-19 08:00:00
3          215 W 85th St New York, NY 10024 United States 2023-06-19 09:00:00
4          215 W 85th St New York, NY 10024 United States 2023-06-19 10:00:00
...                                                   ...                 ...
231949  6th Avenue & Central Park S New York, NY 10019... 2023-07-10 19:00:00
231950  6th Avenue & Central Park S New York, NY 10019... 2023-07-10 20:00:00
231951  6th Avenue & Central Park S New York, NY 10019... 2023-07-10 21:00:00
231952  6th Avenue & Central Park S New York, NY 10019... 2023-07-10 22:00:00
231953  6th Avenue & Central Park S New York, NY 10019... 2023-07-10 23:00:00

        temperature_2m  apparent_temperature  precipitation  weathercode  \
0                 19.1                  19.1            0.0            0
1                 18.8                  18.7            0.0            0
2                 18.5                  18.5            0.0            0
3                 17.9                  18.1            0.0            0
4                 18.0                  18.0            0.0            2
...                ...                   ...            ...          ...
231949            27.9                  30.0            0.0            3
231950            28.2                  29.6            0.0            3
231951            28.2                  29.0            0.0            3
231952            28.2                  28.6            0.0            0
231953            27.7                  28.4            0.0            0

        visibility  windspeed_10m  day_of_week  hour_integer
0          24900.0            6.1            0             6
1          24600.0            6.6            0             7
2          23200.0            6.1            0             8
3          20200.0            6.6            0             9
4          22400.0            6.2            0            10
...            ...            ...          ...           ...
231949     27600.0           16.3            0            19
231950     28100.0           16.5            0            20
231951     30400.0           17.7            0            21
231952     33100.0           16.8            0            22
231953     32700.0           15.0            0            23

[231954 rows x 14 columns]

In [37]:
# Extract restaurant busyness
df_venue_merged['venue_id'] = df_venue_merged['venue_id'].astype(int)
column_length = df_filtered_restaurants.shape[0]
busyness_column = np.zeros(column_length)

test = True

for column, venue_ids in df_filtered_restaurants.items():
    if column == 'hash_ven_id':
        for idx, venue_hash_id in enumerate(venue_ids):
            specific_venue_df = df_venue_merged.loc[df_venue_merged['venue_id'] == venue_hash_id]
            busyness_column[idx] = specific_venue_df['busyness'].mean() 
        break

df_filtered_restaurants['busyness'] = busyness_column
print(df_filtered_restaurants['busyness'])

3       9.643939
5      16.212121
8      20.212121
15     14.098485
23     11.681818
24     52.462121
45     19.848485
48     20.628788
66     18.037879
77     29.371212
80     15.500000
89     20.303030
115    19.750000
142     7.401515
156     8.121212
159    12.234848
167    21.712121
170    27.272727
181    21.204545
184    24.409091
232    19.257576
270     8.113636
273    13.772727
285    17.553030
302    19.757576
307    23.666667
309    10.045455
319    17.431818
321    34.166667
322    22.492424
330    28.977273
334    19.333333
339    27.696970
Name: busyness, dtype: float64

In [38]:
introvert_mode = False  # We have it off by default?

# We normalise the price and rating columns to the range 0-1
df_filtered_restaurants['normalized_price'] = 1 - ((df_filtered_restaurants['price'] - df_filtered_restaurants['price'].min()) / (df_filtered_restaurants['price'].max() - df_filtered_restaurants['price'].min()))
df_filtered_restaurants['normalized_rating'] = (df_filtered_restaurants['rating'] - df_filtered_restaurants['rating'].min()) / (df_filtered_restaurants['rating'].max() - df_filtered_restaurants['rating'].min())

# We then define the weights for the rating and price. (These should add up to 1.)
rating_weight = 0.33
price_weight = 0.33
busyness_weight = 0.33

# We calculate the composite score here ? (if introvert mode is on, we take that into account)
df_filtered_restaurants['normalized_busyness'] = 1 - ((df_filtered_restaurants['busyness'] - df_filtered_restaurants['busyness'].min()) / (df_filtered_restaurants['busyness'].max() - df_filtered_restaurants['busyness'].min()))

if introvert_mode:
    df_filtered_restaurants['composite_score'] = df_filtered_restaurants['normalized_rating'] * rating_weight + df_filtered_restaurants['normalized_price'] * price_weight + df_filtered_restaurants['normalized_busyness'] * busyness_weight
else:
    df_filtered_restaurants['composite_score'] = df_filtered_restaurants['normalized_rating'] * rating_weight + df_filtered_restaurants['normalized_price'] * price_weight

# Compensate for user restaurant selections
df_filtered_restaurants['breakfast_score'] = (df_filtered_restaurants['venue_mod_type'].isin(user_input_res_breakfast)) * 0.5 + df_filtered_restaurants['composite_score'] * price_weight
df_filtered_restaurants['lunch_score'] = (df_filtered_restaurants['venue_mod_type'].isin(user_input_res_lunch    )) * 0.5 + df_filtered_restaurants['composite_score']     * price_weight
df_filtered_restaurants['dinner_score'] = (df_filtered_restaurants['venue_mod_type'].isin(user_input_res_dinner   )) * 0.5 + df_filtered_restaurants['composite_score']    * price_weight

# Then we can sort the DataFrame by the composite score in descending order
df_filtered_rest_breakfast = get_time_filtered_df(df_filtered_restaurants, user_input_day, 8, 9).sort_values('breakfast_score', ascending=False)
df_filtered_rest_lunch     = get_time_filtered_df(df_filtered_restaurants, user_input_day, 12, 13).sort_values('lunch_score', ascending=False)
df_filtered_rest_dinner    = get_time_filtered_df(df_filtered_restaurants, user_input_day, 19, 20).sort_values('dinner_score', ascending=False)

# Display the top restaurants
print('BREAKFAST: (Preferred ',user_input_res_breakfast,') ',df_filtered_rest_breakfast.head(num_top_restaurants))
print('LUNCH: (Preferred ',user_input_res_lunch,') ',df_filtered_rest_lunch.head(num_top_restaurants))
print('DINNER: (Preferred ',user_input_res_dinner,') ',df_filtered_rest_dinner.head(num_top_restaurants))

BREAKFAST: (Preferred  ['Breakfast Restaurant'] )                                         original_ven_id  hash_ven_id  latitude  \
170  ven_517362734b764763584752526b6f775a4a30324630...     85173724   40.7521
15   ven_3068674e6f56796343637a526b6f77597431776642...     45765601   40.7639

     longitude  zone_id                                               name  \
170   -73.9839      164                                  Harta & Bar Harta
15    -73.9767      163  Mangia 57th - Midtown Italian Food & Corporate...

                                           address           venue_type  \
170  30 W 39th St New York, NY 10018 United States  AMERICAN_RESTAURANT
15   50 W 57th St New York, NY 10019 United States   ITALIAN_RESTAURANT

     rating  price  ... location_id       venue_mod_type   busyness  \
170     4.3   -1.0  ...           0  American Restaurant  27.272727
15      4.4    2.0  ...           0   Italian Restaurant  14.098485

    normalized_price normalized_rating normalized_busyness  composite_score  \
170              1.0          0.444444            0.559011         0.476667
15               0.4          0.555556            0.851379         0.315333

     breakfast_score  lunch_score  dinner_score
170          0.15730      0.15730       0.65730
15           0.10406      0.10406       0.10406

[2 rows x 24 columns]
LUNCH: (Preferred  ['Chinese Restaurant', 'French Restaurant'] )                                         original_ven_id  hash_ven_id  latitude  \
5    ven_304330524e695f70503476526b6f775a6c6e5a7133...     43331760   40.7630
307  ven_6f4d4d585279554f413278526b6f77596c66697137...     82293736   40.7625
3    ven_3038654c546f3936784873526b6f775a3148646771...     23854076   40.7580
273  ven_677a6b384456717362517a526b6f775a3147645558...      2068527   40.7582
170  ven_517362734b764763584752526b6f775a4a30324630...     85173724   40.7521

     longitude  zone_id               name  \
5     -73.9767      161      The Consulate
307   -73.9773      161    Benoit New York
3     -73.9853      230        Time Square
273   -73.9702      162             Mischa
170   -73.9839      164  Harta & Bar Harta

                                            address           venue_type  \
5     44 W 56th St New York, NY 10019 United States    FRENCH_RESTAURANT
307   60 W 55th St New York, NY 10019 United States    FRENCH_RESTAURANT
3    199 W 45th St New York, NY 10036 United States           RESTAURANT
273  157 E 53rd St New York, NY 10022 United States  AMERICAN_RESTAURANT
170   30 W 39th St New York, NY 10018 United States  AMERICAN_RESTAURANT

     rating  price  ... location_id       venue_mod_type   busyness  \
5       4.8   -1.0  ...           0    French Restaurant  16.212121
307     4.4    3.0  ...           0    French Restaurant  23.666667
3       4.7   -1.0  ...           0           Restaurant   9.643939
273     4.6   -1.0  ...      548844  American Restaurant  13.772727
170     4.3   -1.0  ...           0  American Restaurant  27.272727

    normalized_price normalized_rating normalized_busyness  composite_score  \
5                1.0          1.000000            0.804472         0.660000
307              0.2          0.555556            0.639038         0.249333
3                1.0          0.888889            0.950235         0.623333
273              1.0          0.777778            0.858608         0.586667
170              1.0          0.444444            0.559011         0.476667

     breakfast_score  lunch_score  dinner_score
5            0.21780      0.71780       0.21780
307          0.08228      0.58228       0.08228
3            0.20570      0.20570       0.20570
273          0.19360      0.19360       0.69360
170          0.15730      0.15730       0.65730

[5 rows x 24 columns]
DINNER: (Preferred  ['American Restaurant', 'Sushi Restaurant'] )                                         original_ven_id  hash_ven_id  latitude  \
273  ven_677a6b384456717362517a526b6f775a3147645558...      2068527   40.7582
170  ven_517362734b764763584752526b6f775a4a30324630...     85173724   40.7521
319  ven_7330663377497968657a68526b6f77594e3139724b...     70625988   40.7601
184  ven_554f563759583653705f73526b6f775a6461463744...      2440176   40.7419
330  ven_735365637a644a62515946526b6f775a4671674951...     71179698   40.7385

     longitude  zone_id               name  \
273   -73.9702      162             Mischa
170   -73.9839      164  Harta & Bar Harta
319   -73.9891       48          Joe Allen
184   -73.9846      107             Upland
330   -73.9885      234    Gramercy Tavern

                                             address           venue_type  \
273   157 E 53rd St New York, NY 10022 United States  AMERICAN_RESTAURANT
170    30 W 39th St New York, NY 10018 United States  AMERICAN_RESTAURANT
319   326 W 46th St New York, NY 10036 United States  AMERICAN_RESTAURANT
184  345 Park Ave S New York, NY 10010 United States  AMERICAN_RESTAURANT
330    42 E 20th St New York, NY 10003 United States  AMERICAN_RESTAURANT

     rating  price  ... location_id       venue_mod_type   busyness  \
273     4.6   -1.0  ...      548844  American Restaurant  13.772727
170     4.3   -1.0  ...           0  American Restaurant  27.272727
319     4.4    2.0  ...           0  American Restaurant  17.431818
184     4.5    3.0  ...           0  American Restaurant  24.409091
330     4.6    4.0  ...           0  American Restaurant  28.977273

    normalized_price normalized_rating normalized_busyness  composite_score  \
273              1.0          0.777778            0.858608         0.586667
170              1.0          0.444444            0.559011         0.476667
319              0.4          0.555556            0.777404         0.315333
184              0.2          0.666667            0.622562         0.286000
330              0.0          0.777778            0.521184         0.256667

     breakfast_score  lunch_score  dinner_score
273          0.19360      0.19360       0.69360
170          0.15730      0.15730       0.65730
319          0.10406      0.10406       0.60406
184          0.09438      0.09438       0.59438
330          0.08470      0.08470       0.58470

[5 rows x 24 columns]

In [39]:
user_venue_per_type_dict = {}
for idx, venue_type in enumerate(suggested_attraction_agenda):
#     print(venue_type)
    start_time = attraction_slot_starts[idx]
    end_time = start_time + attraction_visiting_time_hours
    df_venue_static_att_filtered = get_time_filtered_df(df_venue_static_att, user_input_day, start_time, end_time)
    matched_zones = df_venue_static_att_filtered[df_venue_static_att_filtered['type_mod'] == venue_type[0]]['zone_id']
    matching_zones = matched_zones[matched_zones.isin(zone_group)]
    result_df = df_venue_static_att_filtered[df_venue_static_att_filtered['zone_id'].isin(matching_zones)]['original_ven_id']
    venue_ids = list(pd.DataFrame(result_df, columns=['original_ven_id'])['original_ven_id'])
    
#     # Store the list of venue IDs as the value in the dictionary
    user_venue_per_type_dict[venue_type[0]] = venue_ids
# Print the resulting dictionary
print(user_venue_per_type_dict)

{'Tourist Destination': ['ven_51695f51454843725a5431526b6f775952656f495459354a496843', 'ven_555234376f4f4f30364447526b6f775a4a7752465057654a496843', 'ven_556242455a4d50646d7736526b6f775a7061734749664e4a496843', 'ven_556e5f3675393756787575526b6f775a4a674f497a396a4a496843', 'ven_63436e304a565f4d627257526b6f7759745667317257724a496843', 'ven_67664d4c43655043527777526b6f7759785f7774527a304a496843', 'ven_7732374951527a41425143526b6f7759706c584c4859394a496843'], 'Fashion Convenience': ['ven_344d7478767a4b74377548526b6f7759566c78494a516d4a496843', 'ven_38584b356562656e4a4a63526b6f77595a5f4d6d7456674a496843', 'ven_3866497051714e61656e4b526b6f7759683141556f5a544a496843', 'ven_386b4c712d792d70556e33526b6f77596c5f66384652324a496843', 'ven_4537554f41513330705337526b6f7759705f6736675a764a496843', 'ven_4565635872326c5643414d526b6f775a70364b4e5452304a496843', 'ven_456c694e4c624c6f555862526b6f7759566c74633152704a496843', 'ven_494a68323156454c57744d526b6f775935666f68472d764a496843', 'ven_4d566a675754566e775938526b6f775964767a734d342d4a496843', 'ven_514c6e7669624a33455f70526b6f775a703635674762764a496843', 'ven_51613841453567574f656b526b6f7759564632656134394a496843', 'ven_51667962777a6c6d64306e526b49726f725a77756f366d4a496843', 'ven_517a647163634b746c6a42526b6f7759705f6c555f30424a496843', 'ven_55317964596f7075755871526b6f77597476365a6f39624a496843', 'ven_554977416f345578784c55526b6f77596876504948524d4a496843', 'ven_556a587447624c4f5f4b39526b6f77595a504c547756534a496843', 'ven_5577355866726e4c5f2d7a526b6f775a6c4b64414863364a496843', 'ven_595a6f4263556f73586448526b6f7759705f6762495f334a496843', 'ven_63665372715245346e7638526b6f775a786e72757a35634a496843', 'ven_67495930554434326f3657526b6f7759785045763457554a496843', 'ven_6b4563334e683767613339526b6f7759705f584a50346e4a496843', 'ven_6b484a33576a50506b316d526b6f775946564b4d7379704a496843', 'ven_6f2d6e504338735f5f6656526b6f77596c5f656244784b4a496843', 'ven_6f324e635f42314c477658526b6f7759746676475955634a496843', 'ven_774d586d354e5a6b6c4562526b6f7759425041344532384a496843'], 'Cultural Heritage': ['ven_344d7478767a4b74377548526b6f7759566c78494a516d4a496843', 'ven_3866497051714e61656e4b526b6f7759683141556f5a544a496843', 'ven_453338504841477742644e526b6f776135556f514566504a496843', 'ven_4537554f41513330705337526b6f7759705f6736675a764a496843', 'ven_456c694e4c624c6f555862526b6f7759566c74633152704a496843', 'ven_494a68323156454c57744d526b6f775935666f68472d764a496843', 'ven_4d566a675754566e775938526b6f775964767a734d342d4a496843', 'ven_51613841453567574f656b526b6f7759564632656134394a496843', 'ven_554977416f345578784c55526b6f77596876504948524d4a496843', 'ven_556e5f3675393756787575526b6f775a4a674f497a396a4a496843', 'ven_63665372715245346e7638526b6f775a786e72757a35634a496843', 'ven_6b4563334e683767613339526b6f7759705f584a50346e4a496843']}

In [41]:
user_restaurant_per_zone_dict = {}
for venue_type in user_input_attractions:
    matched_zones = df_restaurants[df_restaurants['venue_mod_type'] == venue_type]['zone_id']
    matching_zones = matched_zones[matched_zones.isin(zone_group)]
    result_df = df_restaurants[df_restaurants['zone_id'].isin(matching_zones)]['original_ven_id']
    user_restaurant_per_zone_dict[venue_type] = list(result_df)

In [ ]:
# Need to check for empty Type

In [42]:
zone_type_dict = {}
for venue_type in itinerary_timing:
    matched_zones = df_venue_static_att[df_venue_static_att['venue_mod_type'] == venue_type]['zone_id'].unique()
    zone_type_dict[venue_type] = list(matched_zones)

# Print the resulting dictionary
print(zone_type_dict)

NameError: name 'itinerary_timing' is not defined

In [ ]:
types_with_zero_zones = []

# Iterate through the venue_type_dict
for venue_type, zones in zone_type_dict.items():
    if len(zones) == 0:
        types_with_zero_zones.append(venue_type)

print("Venue types with 0 zones:", types_with_zero_zones)

In [ ]:
def find_distance_between_zones(zone1_polygon, zone2_polygon):
    # Find the nearest points between the two polygons
    nearest_points_result = nearest_points(wkt.loads(zone1_polygon), wkt.loads(zone2_polygon))

    # Calculate the distance between the nearest points
    distance = nearest_points_result[0].distance(nearest_points_result[1])
    return distance

In [ ]:
filled_type_with_zero_zone = {}

if len(types_with_zero_zones) > 0:
    for ven_type in types_with_zero_zones:
        venue_to_zone_dict_copy = list(set(venue_to_zone_dict[i]))
        print(lenvenue_to_zone_dict_copy)
        if len(venue_to_zone_dict_copy) < 0:
            #get all venue id of each zone and push it to user_venue_per_type_dict of that type
            print('okay')
        else:
            zone_between_dist = []
            for user_zone in zone_group:
                for venue_zone in venue_to_zone_dict_copy:
                    zone1_polygon = df_manhattan_zone[df_manhattan_zone['LocationID'] == user_zone]['the_geom'].iloc[0]
                    zone2_polygon = df_manhattan_zone[df_manhattan_zone['LocationID'] == venue_zone]['the_geom'].iloc[0]
                    distance = find_distance_between_zones(zone1_polygon, zone2_polygon)
                    zone_between_dist.append((user_zone, venue_zone, distance)) 
            sorted_zone_between_dist = sorted(zone_between_dist, key=lambda x: x[2])[:3]
            new_zone = [df_venue_static_att[
        (df_venue_static_att['zone_id'] == item[1]) &
        (df_venue_static_att['venue_mod_type'] == ven_type)
    ]['original_ven_id'].tolist() for item in sorted_zone_between_dist]
    
    print(new_zone)
    
    filled_type_with_zero_zone[ven_type] = list(set(item for sublist in new_zone for item in sublist))
    filled_type_with_zero_zone

In [ ]:
for key in user_venue_per_type_dict.keys():
    # Check if the value of the current key is an empty array
    if len(user_venue_per_type_dict[key]) == 0:
        # Check if the key exists in dictionary B
        if key in filled_type_with_zero_zone:
            # Replace the value in A with the value from B
            user_venue_per_type_dict[key] = filled_type_with_zero_zone[key]
print(user_venue_per_type_dict)

In [ ]:
print(user_venue_per_type_dict)

In [ ]:
time_index = 0
filtered_venues = {}

# Loop through each venue type and check for the specified condition
for venue_type, venue_ids in user_venue_per_type_dict.items():
    valid_venues = []
    for venue_id in venue_ids:
        venue_info = df_venue_timings.loc[df_venue_timings['venue_id'] == venue_id]
        filtered_venue_info = venue_info.loc[(venue_info['day'] == user_input_day) & (venue_info['opening_time'] <= opening_time[time_index]) 
                                              & (venue_info['closing_time'] >= closing_time[time_index])
                                            ]
        if not filtered_venue_info.empty:
            valid_venues.append(venue_id)
    if valid_venues:
        filtered_venues[venue_type] = valid_venues
        time_index+=1
print(filtered_venues)

In [ ]:
manipulated_venues = {}

if introvert_mode:
    weight_rating = 0.3
    weight_busyness = 0.7
else:
    weight_rating = 0.6
    weight_busyness = 0.4

# With introvert mode
for venue_type, venue_ids in user_venue_per_type_dict.items():
    valid_venues = []
    for venue_id in venue_ids:
        venue_hash_id = df_venue_static.loc[df_venue_static['original_ven_id'] == venue_id]['hash_ven_id']
        venue_rating = df_venue_static.loc[df_venue_static['original_ven_id'] == venue_id]['rating'].item()
        venue_hash_id = int(venue_hash_id)
        df_venue_merged['venue_id'] = df_venue_merged['venue_id'].astype(int)
        specific_venue_df = df_venue_merged.loc[df_venue_merged['venue_id'] == venue_hash_id]
        average_busyness = specific_venue_df['busyness'].mean() 
        
        composite_score = (weight_rating * venue_rating) + (weight_busyness * average_busyness)
        
        valid_venues.append((venue_id, venue_rating, average_busyness, composite_score))
    if valid_venues:
        manipulated_venues[venue_type] = valid_venues

manipulated_venues

In [ ]:
def print_top_3_recommended_restaurants(data_frame):
    for rank, ind in enumerate(data_frame.index):
        venue_id = data_frame['original_ven_id'][ind]
        rating = data_frame['rating'][ind]
        busyness = data_frame['busyness'][ind]
        score = data_frame['composite_score'][ind]
        print(f"Rank {rank + 1}: Venue ID: {venue_id}, Rating: {rating}, Busyness: {busyness}, Score: {score}")
        if rank > 1:
            break;

In [ ]:
top_3_venues = {}

# Loop through each venue type and its venues
for venue_type, venue_data in manipulated_venues.items():
    # Sort the venues based on the composite score (fourth element in the tuple, index 3)
    if len(venue_data) > 3:
        sorted_venues = sorted(venue_data, key=lambda x: x[3], reverse=True)
    
        # Keep only the top 3 venues for each venue type
        top_3_venues[venue_type] = sorted_venues[:3]
    else:
        top_3_venues[venue_type] = venue_data

# Display the top 3 venues for each venue type
for venue_type, top_venues in top_3_venues.items():
    print(f"Venue Type: {venue_type}")
    for rank, (venue_id, rating, busyness, score) in enumerate(top_venues, start=1):
        print(f"Rank {rank}: Venue ID: {venue_id}, Rating: {rating}, Busyness: {busyness}, Score: {score}")
    print()

# Display the top 3 restaurants for each type
print(f"Restaurant Type: Breakfast")
print_top_3_recommended_restaurants(df_filtered_rest_breakfast)
print()
print(f"Restaurant Type: Lunch")
print_top_3_recommended_restaurants(df_filtered_rest_lunch)
print()
print(f"Restaurant Type: Dinner")
print_top_3_recommended_restaurants(df_filtered_rest_dinner)

print()